[2021-08-12 16:50] luannaalves opened #440 "Criar Gitbook para Tutoriais do Mapa da Saúde"
### Objetivo
Como usuário do Mapa da Saúde
Quando necessite de tutoriais para utilização do Mapa
Então já quero encontrar disponível na internet

### Escopo
Deverá ser criado Gitbook para o Mapa da saúde, para que possa ser adicionado tutoriais de uso da ferramenta e disponibilizado na web ao usuário. Deverá ser revisado o tutorial **Como criar seu Agente** , para deixá-lo de forma mais didática e

[2021-08-12 20:00] matheuscpl commented on #363
UX REVIEW: Há apenas uma alteração que gostaria de considerar, na aba inscrições ao listar as oportunidades e seus cards, o título da oportunidade se aproxima mais do card a que não pertence.!

![Screenshot_69.png](https://images.zenhubusercontent.com/610accbe69320580a6a9c239/e108d90c-6c37-4555-924d-94089c2c9aac)

Sugestão, que a distancia de cima seja maior que a de baixo

[2021-08-13 17:31] fernandafnascmnt commented on #440
https://mapa-da-saude.gitbook.io/manual-mapa-da-saude/

Gitbook criado e inserido o tutorial Como criar seu Agente.

Aguardando feedbacks e melhorias!

[2021-08-13 17:36] vicmagpac commented on #440
@FernandaNascimento26 Que lindo 😻

[2021-08-16 19:17] vicmagpac commented on #434
O acompanhamento da atividade pode ser acessado na seguinte branch: https://github.com/EscolaDeSaudePublica/sagu-api/tree/feature/mapadasaude-endpoint-pessoas

[2021-08-18 12:44] luannaalves opened #441 "Inserir descrição para os status da inscrição"
### Objetivo
Como usuário do Mapa da Saúde
Quando esteja participando de uma oportunidade
Então quero identificar no status da minha inscrição a descrição daquele status

### Escopo
Atualmente, como candidato de uma oportunidade, ao acessar a página principal de uma oportunidade ao qual estou participando, no quadro **Minhas Inscrições**, na última coluna de **Status**, é informado ao usuário o st

[2021-08-18 13:32] uira commented on #440
@FernandaNascimento26 Importante um olhar do @Matheuscpl sobre esse conteúdo.

Também vale conversar com o André, do IDM, sobre esse manual.

Não entendi se estamos customizando o manual da secult ou se estamos criando o nosso do zero.

[2021-08-18 13:52] luannaalves opened #444 "EAP#545 Suporte/emissão de DAE"
### Contexto do épico
Deverá ser criado vínculo dentro do sistema de seleções do Mapa da Saúde, na área de inscrição do candidato, junto ao Webservice da SEFAZ, para permitir o candidato gerar DAE, e acompanhar o DAE emitido.

### EAP
[Plataforma interativa\Customização\Gerenciamento de editais e eventos](https://projetos.esp.ce.gov.br/issues/545)

### Observações
À ser analisado primeiramente pel

[2021-08-19 12:15] luannaalves commented on #363
**RESOLVER BUG**. No Menu Projetos, quando o usuário clica no botão de atalho de busca de um agente para realizar a inscrição em uma determinada oportunidade, ao selecionar o agente, o sistema está direcionando o usuário para outra oportunidade, distinta a que o candidato estava tentando se inscrever. Também ao tentar fechar a janela pelo botão cancelar, a janela tornava a aparecer repetidas vezes

[2021-08-19 12:32] luannaalves opened #445 "BUG. Ao criar uma oportunidade estava sendo criada várias outras novas oportunidades"
### Objetivo
Como administrado de uma oportunidade no Mapa da Saúde
Quando estou criando uma oportunidade com outras fases
Então o sistema estava criando várias outras oportunidades em branco

### Escopo
Foi identificado, através de testes de criação de uma oportunidade, que ao criar novas fases para uma oportunidade, estava ocorrendo um bug de criação de várias outras oportunidades em branco.

Co

[2021-08-19 12:32] luannaalves opened #446 "BUG. A página principal de uma oportunidade está apresentando erro na ordenação das fases"
### Objetivo
Como administrado de uma oportunidade no Mapa da Saúde
Quando estou criando uma oportunidade com outras fases
Então o sistema estava ordenando as fases seguintes aleatoriamente e não na sequencia criada

### Escopo
Foi identificado, através de testes de criação de uma oportunidade, que ao criar novas fases para uma oportunidade, estava ordenando as fases aleatoriamente e não na sequên

[2021-08-19 12:33] luannaalves opened #447 "Revisão de Fluxo de Gerenciamento de Oportunidades (Avaliação, Recursos e Resultados)"
### Objetivo
Como administrador de uma oportunidade no Mapa da Saúde
Quando crie gerencie uma oportunidade dentro do Mapa
Então devo encontrar um bom fluxo para gerenciamento desta oportunidade.

### Escopo
Deverá ser revisto todo o fluxo de gerenciamento de uma oportunidade dentro do Mapa da saúde. Analisando as etapas de Avaliação, análise e resposta de recurso de um candidato e recebimento e di

[2021-08-19 14:31] luannaalves opened #477 "Ajustar para quando título de uma fase for extenso não sobreponha ao botão de adicionar fase."
### Objetivo

**Como** administrador de uma oportunidade no Mapa da Saúde
**Quando** insira o título de uma oportunidade extenso
**Então** não devo encontrá-lo sobrepondo ao botão de adicionar fase.

### Escopo

Atualmente, quando é inserido um título extenso para uma oportunidade, esse título está sobrepondo ao botão de Adicionar fase, estes campos deverão ser ajustados para que não sobreponham u

[2021-08-19 14:32] luannaalves opened #450 "Revisar informações da aba de Detalhes de uma Oportunidade"
### Objetivo
Como candidato de uma oportunidade no Mapa da Saúde
Quando acesse a aba de detalhes de uma oportunidade
Então devo encontrar mais informações referente as demais fases da oportunidade.

### Escopo
Atualmente, na aba de Detalhes, de uma oportunidade, somente é apresentado a informação do período de inscrição. Não havendo mais informações, referente as demais oportunidades (quando hajam

[2021-08-19 14:33] luannaalves opened #451 "Permitir que o administrador possa excluir uma oportunidade"
### Objetivo
Como administrador de uma oportunidade no Mapa da Saúde
Quando queira excluir uma oportunidade criada
Então devo encontrar um botão para exclusão desta oportunidade.

### Escopo
Atualmente, não é possível que o administrador de uma oportunidade exclua uma oportunidade já criada, sendo necessário solicitar a exclusão ao desenvolvedor no banco de dados. Portanto, deverá ser possível que

[2021-08-20 12:06] vicmagpac commented on #363
Implementado na seguinte branch https://github.com/EscolaDeSaudePublica/Saude/compare/feature/busca-agent-multi-oportunidades

Foi testado com 4 oportunidades na mesma página, necessário simular com mais oportunidades, para simular o ambiente parecido com a homologação.

[2021-08-21 15:26] Junior-Shyko commented on #363
**TESTES:**

- [x] Realizado teste com 4 oportunidades de projetos

- [ ]  Realizado teste com 3 oportunidade de eventos

- [x] Realizado teste com 3 de espaço

- [x] Realizar inscrição na própria página da oportunidade.

[2021-08-23 19:35] luannaalves opened #452 "EAP#544 Criação de Oportunidades"
### Contexto do épico
Deverá ser verificado todo o fluxo de criação de uma oportunidade dentro do Mapa da saúde, e assim identificar as melhorias e ajustes necessários ao lançamento de editais pela ESP dentro do Mapa da Saúde.

### EAP
[Plataforma interativa\Customização\Gerenciamento de editais e eventos](https://projetos.esp.ce.gov.br/issues/544)

### Observações
À ser analisado primeiramente pe

[2021-08-23 19:45] luannaalves opened #454 "Revisar Fluxo de Criação de uma Oportunidade"
### Objetivo
Como administrador de uma oportunidade no Mapa da Saúde
Quando crie uma oportunidade dentro do Mapa
Então devo encontrar um bom fluxo para lançamento desta oportunidade.

### Escopo UX
Deverá ser revisto todo o fluxo de criação de oportunidades (seja por meio de um Projeto ou por meio de uma oportunidade diretamente). deverão ser analisados os formulários de criação de oportunidades e

[2021-08-24 13:54] vicmagpac commented on #406
Nos testes realizados para atualização da nova versão do mapas, para que funcione deve usar o composer.json e composer.lock do projeto já existente, pois se realizar a atualização para alguma versão mais nova por exemplo do doctrine, acontece problemas de classes não existentes como por exemplo

Outro problema encontrado na nova versão do mapas é referente ao JWT, como o keycloak necessita do JWT,

[2021-08-24 15:08] vicmagpac commented on #406
Problema no tema:

arquivo src/protected/application/themes/Saude/layouts/parts/singles/opportunity-about.php
inserindo o arquivo: <?php $this->part('singles/opportunity-registrations--importexport', ['entity' => $entity]) ?>entretanto o arquivo não existe no tema

[2021-08-24 15:20] vicmagpac commented on #406
Teste no formulário de oportunidade na nova versão,
![Capturar36.PNG](https://images.zenhubusercontent.com/60a700715abeb69728eb42ba/9426d8a1-8113-40a6-a842-4a3debcb8c50)

O erro apresenta a seguinte mensagem: Data final obrigatória caso data inicial preenchida
Entretanto a data foi informada como consta na imagem acima.

[2021-08-24 15:39] vicmagpac commented on #406
Devido as mudanças nos controllers, BaseV1 (split de arquivos), o tema da saúde está baseado na versão 5.0.0, a versão atualizada 5.1.6 mudou a estrutura e consequentemente o contrato que existia na versão 5.0.0 com o tema não existe mais em alguns pontos da aplicação, principalmente no gerenciamento de oportunidades.

[2021-08-24 16:04] vicmagpac commented on #406
Depois de desabilitar o layout parts do tema para buscar do BaseV1 e realizar a inscrição em uma oportunidade retorna a seguinte mensagem:
![Capturar-erro-insert-inscrito](https://user-images.githubusercontent.com/3487411/130650895-d33530ff-fbdf-4497-a471-9da62ff66b3f.PNG)

[2021-08-24 16:14] vicmagpac commented on #406
Ao desabilitar os arquivos js do angular no tema funciona.

[2021-08-24 16:22] vicmagpac commented on #406
Na nova versão 5.1.6 os arquivos de upload para os inscritos continuam mostrando a mensagem "Arquivo não enviado" como consta na imagem abaixo:

![Capturar-erro-insert-inscrito2](https://user-images.githubusercontent.com/3487411/130653465-d94d1bc7-f75a-46b9-8396-d808d133795d.PNG)

[2021-08-24 17:08] vicmagpac commented on #406
Ao realizar a instalação de uma nova instância sem o tema mapa da saúde, ou seja usando o tema SpCultura todo o fluxo de editais funciona bem.  Desde 1 ou várias etapas com anexos de arquivos, usando o comando
`./dev-scripts/start-dev.sh` para instalar e executar o mapasculturais.

[2021-08-24 19:26] vicmagpac commented on #406
Teste realizado com a versão 5.1.11, o principal conflito é o tema da Saude. Passos realizados:

- Downgrade da versão composer e lock
https://github.com/EscolaDeSaudePublica/mapadasaude/blob/main/src/protected/composer.json
https://github.com/EscolaDeSaudePublica/mapadasaude/blob/main/src/protected/composer.lock

- Refazer configuração do Keycloak adicionando o arquivo OpauthKeyCloak.php dentro d

[2021-08-25 17:53] ericsonmoreira commented on #445
Em meus testes, verifiquei em esse bug não está acontecendo.

[2021-08-25 18:31] #445 closed, assigned to ericsonmoreira

[2021-08-25 20:09] vicmagpac commented on #406
Relato Atualização 5.0.0 -> 5.1.11

Passos para atualização

`git clone https://github.com/EscolaDeSaudePublica/mapadasaude.git`
`cd mapadasaude`
`git remote add mapasculturais https://github.com/mapasculturais/mapasculturais.git`
`git fetch --all`
`git merge v5.1.11`

Em seguida resolver os conflitos

- Baixar o tema na branch https://github.com/EscolaDeSaudePublica/Saude/tree/feature/compatibili

[2021-08-25 23:13] vicmagpac commented on #406
Relato nova atualização 5.0.0 -> 5.1.11

Passos para atualização

`git clone https://github.com/EscolaDeSaudePublica/mapadasaude.git`
`cd mapadasaude`
`git remote add mapasculturais https://github.com/mapasculturais/mapasculturais.git`
`git fetch --all`
`git merge v5.1.11`

Em seguida resolver os conflitos

- Baixar o tema na branch https://github.com/EscolaDeSaudePublica/Saude/tree/feature/compat

[2021-08-26 18:11] luannaalves opened #457 "Mudança de nomeclatura de Agentes para Pessoas e Espaços para Unidades"
### Objetivo
Como usuário do mapa da Saúde
Quando acesse a plataforma
Então deverei encontrar as informações de Pessoas, ao invés de Agentes e Unidades ao invés de Espaços

### Escopo
Deverá ser trocada a nomeclatura atual de Agentes para **Pessoas** e de Espaços para **Unidades**. Essa alteração deverá ser feita em todos os locais da plataforma onde apareçam estes nomes de agentes e espaços. Deve

[2021-08-26 18:46] luannaalves opened #462 "Permitir impressão de certificados a partir do Mapa"
### Objetivo
Como usuário candidato
Quando esteja participando de uma oportunidade dentro do Mapa
Então devo ter opção de receber e emitir um certificado pelo próprio Mapa

### Escopo
Deverá ser inserido dentro do mapa opção de um usuário participante de uma oportunidade, receber um certificado dentro do Mapa e poder imprimir.

### Critérios de Aceitação
- [ ] Criar selo referente ao evento para g

[2021-08-26 18:49] matheuscpl opened #463 "Rever texto do ID Saúde"
## **Objetivo**

**Como** usuário do mapa
**Quero** fazer uma inscrição
**Para** participar de uma oportunidade

## **Contexto**
Atualmente no Mapa da Saúde não está de fácil compreensão que ao criar o cadastro no Mapa da Saúde o usuário vai cair no ID saúde e a função deste. Dessa forma, precisamos tornar claro esse processo.

## **Escopo**

- [x] Criar textos do ID Saúde (página principal) e pág

[2021-08-26 18:56] matheuscpl opened #465 "Levar botão salvar para próximo da inscriver"

[2021-08-27 11:12] #362 closed, assigned to ericsonmoreira

[2021-08-27 14:02] ericsonmoreira commented on #446
Não consegui replicar o erro.

[2021-08-27 17:40] #446 closed, assigned to ericsonmoreira

[2021-08-30 13:59] vicmagpac commented on #477
Voltando card para desenvolvimento.

[2021-08-30 17:20] luannaalves opened #476 "Ajustar botões de acesso à oportunidade"

[2021-08-31 14:50] luannaalves opened #481 "Criar botão de vinculo ao Webservice do DAE na página de inscrição do candidato"
### Objetivo
Assim como no sistema SACS, na nova ferramenta de seleções da ESP, Mapa da Saúde, será necessário vincular toda a rotina de registro e validação do DAE - Documento de Arrecadação Estadual) da SEFAZ, disponibilizada à ESP por meio de um Webservice fornecido pela mesma, para assim permitir que o candidato possa, no processo de inscrição, gerar e acompanhar o DAE emitido.

### Escopo
Ser

[2021-08-31 14:50] luannaalves opened #482 "Fornecer Feedback ao candidato de cada etapa"
### Objetivo
Assim como no sistema SACS, na nova ferramenta de seleções da ESP, Mapa da Saúde, será necessário vincular toda a rotina de registro e validação do DAE - Documento de Arrecadação Estadual) da SEFAZ, disponibilizada à ESP por meio de um Webservice fornecido pela mesma, para assim permitir que o candidato possa, no processo de inscrição, gerar e acompanhar o DAE emitido.

### Escopo
Ser

[2021-08-31 14:50] luannaalves opened #483 "Criar Validação para participação do candidato à uma próxima fase, mediante confirmação de pagamento e/ou isento."
### Objetivo
Assim como no sistema SACS, na nova ferramenta de seleções da ESP, Mapa da Saúde, será necessário vincular toda a rotina de registro e validação do DAE - Documento de Arrecadação Estadual) da SEFAZ, disponibilizada à ESP por meio de um Webservice fornecido pela mesma, para assim permitir que o candidato possa, no processo de inscrição, gerar e acompanhar o DAE emitido.

### Escopo
Ser

[2021-08-31 15:18] vicmagpac commented on #457
Em análise no tira dúvidas com o hacklab sobre a alteração dos termos AGENTE para PESSOAS e ESPAÇOS para UNIDADE, verificou se que a alteração constando atualmente no mapas, não é aplicado e mudar em todos os lugares onde é chamado os termos informados acima.  Abaixo existem duas soluções possíveis apresentadas pelo hacklab:

Opção 1 - Usar o dicionário do mapas dentro do tema - (necessário refato

[2021-08-31 15:21] vicmagpac commented on #457
O arquivo pt_BR.po foi enviado para o grupo hacklab/ + Escola de Saúde Pública. Não será feito o upload nos comentário do github, pois o mesmo não permite a extensão.

[2021-09-01 19:58] RaniGub commented on #369
Gente, por gentileza, reabrir a issue e adicionar uma tarefa para o DesignLab adicionar desses campos no mapeamento da AI do Mapa da Saúde. Farei o apontamento quando for concluído.

[2021-09-02 11:58] matheuscpl commented on #477
Revisão de UX: Tudo certo! :)

![Screenshot_96.png](https://images.zenhubusercontent.com/610accbe69320580a6a9c239/e0957fd7-7e52-4fe7-9909-3b5baeb519da)

[2021-09-14 16:37] vicmagpac opened #487 "Implementar atualização do calculo de notas com pesos na seção e nota de corte"
## **Objetivo**

**Como** administrador e dono de uma oportunidade
**Quero** configurar pesos e nota de corte para notas das seções na configuração da avaliação técnica
**Para** que a nota do participante seja baseado na especificação de calculo dos editais da ESP

## **Contexto**

- Atualmente o mapa da saúde não oferece a opção de lançamento de pesos e nota de corte para seções, mas oferece para

[2021-09-15 17:27] vicmagpac commented on #487
Atividade iniciada na branch: https://github.com/EscolaDeSaudePublica/mapadasaude/tree/feature/modelo-avaliacao-esp

**Observações**

- A atividade está sendo pareada em conjunto com o Rafael do hacklab, as implementações foram feitas dentro do plugin de avaliação técnica acordado com o Rafa, para que possa servir para outras instâncias.
- Os commits não estão vinculados a issue devido o fato de q

[2021-09-17 18:18] vicmagpac commented on #487
Baseado no critério de avaliação do edital especificado na issue https://github.com/EscolaDeSaudePublica/Saude/issues/210#issuecomment-921990230
é necessário implementar para cada seção uma nota mínima de desclassificação automática da fase.

Cada fase deve ter uma nota mínimo, caso o participante tenha uma nota menor do que a especificada na seção, então no momento da validação dos resultados o s

[2021-09-20 18:26] RaniGub commented on #463
@matheuscpl você sabe falar se essa tarefa tem conexão com a #304 - Repensar o Fluxo de Cadastro?

[2021-09-21 10:47] vicmagpac commented on #487
Em análise aguardando o retorno de validação com a @helenhilario e GTCESP.

[2021-09-21 12:13] thaistoscano opened #491 "Atualizar o ambiente de desenvolvimento do Mapa da Saúde"
## **Objetivo**

**Como** Desenvolvedor do MapadaSaude
**Quero** Configurar o meu ambiente de desenvolvimento
**Para** Habilitar o log de Hooks

## **Contexto**

- Em pareamento com a equipe do Hacklab, ocorreu a atualização em alguns arquivos do Mapa da Saúde para que fossem exibidos os logs dos Hooks, bem como fosse utilizada a configuração de ambiente desenvolvida pelo Hacklab (contida no diret

[2021-09-21 12:24] fernandafnascmnt commented on #491
Essa Issue foi contemplada no PR #490

[2021-09-21 12:25] fernandafnascmnt commented on #491
![Captura de tela de 2021-09-21 09-25-04](https://user-images.githubusercontent.com/44043740/134169902-8eac5c69-d507-4074-90ba-be0221fb3a87.png)

[2021-09-22 15:02] vicmagpac commented on #462
Nova atualização de mapeamento de volumes:

1. Criar diretório na raiz local do projetos chamado "themes"
2. Criar diretório na raiz local do projetos chamado "plugins"
3. O tema saúde fica dentro de themes da raiz e não mais no core
`mkdir themes`
`mv src/protected/application/themes/Saude themes/`
ao final da execução do comando o tema Saude deve sair do core e entrar na raiz que não está versio

[2021-09-23 18:52] thaistoscano opened #492 "Alterar formatos e quantidade de anexos permitidos"
## **Objetivo**

**Como** usuário realizando inscrição
**Quero** anexar inúmeros arquivos de diferentes formatos
**Para** comprovar as pontuações de itens solicitados por meio do edital

## **Contexto**
Atualmente o Mapa aceita somente um arquivo por campo, bem como sugere em "zip". Deve ser alterado para que suporte diversos arquivos (pdf até 5 mega, jpeg, png, xls, ppt, vídeos até 300MB...)
-

#

[2021-09-23 19:24] thaistoscano opened #493 "Adicionar campo do Lattes no perfil do agente"
## **Objetivo**

**Como** usuário/cliente do mapa
**Quero** completar meu perfil
**Para** ficar o mais completo possível

## **Contexto**
Inserir o campo do Lattes no perfil do agente para que no cadastro ou atualização do perfil ele possa informar seu lattes.
-

## **Escopo**

- [ ] Atualizar campos do perfil do agente para constar o campo de inserir link do lattes

## **Critérios de Aceitação**

[2021-09-24 16:21] vicmagpac commented on #306
Resumo da conversa com o Júnior e Rafa do Hacklab sobre o card:

critério de desempate

adicionar critério de desempate
    - média de uma seção
    - anexo do formulário
        - enviou
        - não enviou
    - campo do formulário
        - selecione a categoria (checkboxes) // eu acho desnecessário, mas interessante
        - seleciona operador
            - padrão
                - comparaçã

[2021-09-27 12:28] thaistoscano opened #495 "Corrigir bug da avaliação simplificada pelo avaliador"
## **Objetivo**

**Como** Avaliador de uma oportunidade no mapa da saúde
**Quero** aplicar as avaliações para as inscrições do tipo simplificada e documental
**Para** realizar a avaliação dos inscritos e prosseguir com o acompanhamento padrão da oportunidade

## **Contexto**

- Atualmente no momento de avaliação de uma oportunidade do tipo simplificada e documental por parte do avaliador, o sistem

[2021-09-27 13:02] thaistoscano opened #496 "Gerar PDF com ficha de inscrição preenchida"
## **Objetivo**

**Como** usuário/agente do mapa
**Quero** ao término da inscrição ou em qualquer outro momento resgatar do site a ficha de inscrição
**Para** comprovação da inscrição, bem como para entrega da documentação no momento que assume a vaga.

## **Contexto**
Gerar PDF com a ficha de inscrição contendo campos de data e assinatura, com modelo similar ao que o SACS possuía. Atualmente há u

[2021-09-27 13:24] vicmagpac commented on #495
Baseado na conversa com o Rafa do Hacklab, o ideal é adicionar a validação a partir dos hooks.

[2021-09-27 17:59] vicmagpac commented on #492
Em conversa de análise com o Rafa do HACKLAB sobre permitir múltiplos uploads por campos não existem atualmente no mapas, ou seja a aplicação aceita um campo que pode ser usando zip ou pdf.

[2021-09-27 19:33] vicmagpac commented on #495
Avaliação do tipo documental não funciona na nossa versão.

[2021-09-28 14:36] RaniGub commented on #465
Relacionada a tarefa #215.

[2021-09-28 14:37] #465 closed, assigned to matheuscpl

[2021-09-28 15:48] thaistoscano commented on #367
![Captura. doc necessarios - issue 367.JPG](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/d6a6dcee-001c-4678-8e33-030d74259617)

[2021-09-28 19:03] thaistoscano opened #497 "Retirar a permissão para que um agente inscreva outro em editais e/ou altere participante"
## **Objetivo**

**Como** administrador de oportunidade no mapa
**Quero** que somente o usuário realize a sua inscrição em uma oportunidade (se possível permitir para eventos...)
**Para** não haver alteração de inscrito nem inscrições realizadas por terceiros

## **Contexto**
Atualmente no mapa as inscrições podem ser realizadas por terceiros, porém para editais não deve haver essa permissão.
-

#

[2021-09-28 19:26] thaistoscano opened #498 "Possuir validação para verificar se não há outro cadastro com a mesma numeração de CPF"
## **Objetivo**

**Como** agente do mapa da saúde
**Quero** que haja validação de CPF no cadastro do agente
**Para** não haver duplicação de agentes com o mesmo CPF

## **Contexto**
Atualmente no mapa há validação se o CPF está correto, mas aceita repetir CPF já cadastrado.

## **Escopo**

- [x] Necessário a cada cadastro buscar na base do mapa se já há cadastro com numeração igual de CPF.

## **C

[2021-09-30 12:27] vicmagpac opened #501 "Ajuste redirecionamento com parâmetros do angular"
## **Contexto**

- O redirecionamento estava sendo feito antes com url's simples, entretanto o mapa da saúde utilizar também url's do angular com '##parametros', no caso o servidor web não reconhece os parâmetros do angular, apenas url simples com querystring.

# Observações

Cenário para teste:

1. Acessar qualquer página do mapas
2. Clicar em fazer login na parte superior direita
3. Ao realizar

[2021-09-30 13:05] thaistoscano opened #503 "Possibilitar o candidato visualizar sua nota por critério"
## **Objetivo**

**Como** Candidato de uma oportunidade
**Quero** Visualizar minha nota detalhada por critérios
**Para** que possa visualizar quanto cada critério contribuiu para sua nota final

## **Contexto**
Atualmente não há divisão das notas por critério. Apesar do candidato inicialmente pontuar sua nota por critério, após passar pelo avaliador só visualiza a nota por momento, não mais por cr

[2021-09-30 14:01] #503 closed, assigned to thaistoscano

[2021-09-30 14:03] thaistoscano commented on #503
Solicitação já contemplada na issue 129 (https://github.com/EscolaDeSaudePublica/Saude/issues/129)

[2021-10-04 16:34] thaistoscano opened #508 "Corrigir mensagem de erro para dados inválidos - IDSaúde"
## **Objetivo**

**Como** usuário do mapa
**Quero** inserir dados
**Para** entrar no site

## **Contexto**
Atualmente no mapa da saúde ao logar e errar o e-mail ou senha, a mensagem de erro do IDSaúde refere-se ao CPF e não e-mail.
-

## **Escopo**

- [ ] Alterar mensagem para o usuário.

## **Critérios de Aceitação**

- [ ] Corrigir "CPF" por "**e-mail** para que não cause dúvida ao usuário e iss

[2021-10-04 16:38] thaistoscano commented on #508
![image.png](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/2944aee0-e213-44e9-a31e-ff718878b47d)

[2021-10-05 12:33] RaniGub commented on #447
@matheuscpl as jornadas se relacionam a:
1- Pessoa que vai criar/gerir a oportunidade, considerando a publicação dos resultados;
2- Pessoa vai se inscrever numa oportunidade, considerando a visualização dos resultados e recursos (card #454);
3- Pessoa que vai avaliar uma oportunidade, considerando os critérios de avaliação e resposta aos recursos;

Todas no ambiente de homologação.

[2021-10-05 12:49] RaniGub opened #637 "Jornada de inscrição em oportunidades no Mapa pelo iSUS (Integração)."
## **Objetivo**

**Como** designer
**Quero** propor uma jornada de inscrição de oportunidades pelo iSUS
**Para** permitir que a pessoa usuária se inscreve em oportunidades que solicitam dados simples

## **Contexto**

Considerando os dados básicos solicitados à pessoa usuária no cadastro pelo iSUS, é possível vincular as oportunidades que usam somente desses campos para que uma inscrição rápida se

[2021-10-05 13:26] thaistoscano opened #509 "Não permitir alteração na categoria (perfil) ao passar para fases seguintes"
## **Objetivo**

**Como** administrador de uma oportunidade
**Quero** que o inscrito não consiga mudar seu perfil/área de atuação
**Para** que não hajam alterações após inscrição

## **Contexto**
Atualmente no Mapa é possível, após a inscrição, ao passar para as fases seguintes (ex: habilitação de currículo e plano de trabalho) alterar seu perfil escolhido.
-

## **Escopo**

- [ ] Bloquear alteraç

[2021-10-07 18:23] thaistoscano commented on #444
https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/Inscrições?node-id=356%3A102

[2021-10-07 20:56] matheuscpl opened #512 "Retirar a aba "inscrições" da edição de um projeto"
## **Objetivo**
**Como** administrador de um projeto no mapa
**Quero** que a aba "inscrições" não seja exibida no modo de edição
**Para** não haver um campo que não é possível editar

## **Contexto**
Para que o usuário não precisasse entrar em todos os subprojetos para visualizar as oportunidades daquele Projeto, foi criada uma aba chamada "Inscrição" na página inicial do projeto, porém esta págin

[2021-10-07 21:01] matheuscpl opened #513 "Remover configurações de data do projeto"
## **Objetivo**

**Como** administrador de um projeto no mapa
**Quero** que as definições de "data início" e "data fim" sejam retiradas
**Para** que as datas sejam definidas apenas nas oportunidades

## **Contexto**
Ao criar um projeto no Mapa da Saúde não há a necessidade dos campos de  Data Inicial, Data Final e Hora Final para o Projeto Pai, devendo aparecer estas informações apenas para as opo

[2021-10-08 01:20] uira commented on #444
@thaistoscano Senti falta de controles para configuração de prazos de pagamento e isenção.

Onde isso seria feito, @victormagpac ?

[2021-10-08 12:34] vicmagpac commented on #444
@uira O prazo de pagamento do DAE (data de vencimento e data de validade do documento) por padrão é de1 dia após o fechamento da inscrição, ou seja difere para cada edital. Exemplo: inscrição inicia dia 01 e vai até o dia 10, então o vencimento ficaria para o dia 11, pegando assim o dado do ultimo dia de inscrição.

Assim está no edital:
"5.14. O Documento de Arrecadação Estadual (DAE), ainda que

[2021-10-08 12:41] vicmagpac commented on #444
Entretanto faz muito sentido sua colocação de adicionar também uma data de vencimento do documento 🥇, deixando automatizado pra pegar o ultimo dia da inscrição +1 ou se o responsável quiser mudar, o mesmo pode especificar nas configurações do DAE. @matheuscpl nesse contexto seria necessário criar mais um campo no figma adicionando também a data de validade do DAE na configuração.

[2021-10-08 12:45] vicmagpac commented on #444
Adicionando uma data de vencimento e de validade para o DAE, é necessário também validar as datas (critério de aceitação) para que o vencimento não seja possível cair em dia de sábado, domingo ou feriados. (SEFAZ tem um endpoint pra essa validação).

[2021-10-08 12:48] uira commented on #444
@victorMagalhaesPacheco

[2021-10-08 12:54] vicmagpac commented on #444
@uira @uirapora não são todos os editais que tem DAE que necessariamente tem isenções, por exemplo, o edital 19 tem DAE mas não tem isenção, consequentemente não tem a fase de isenção e nen de recursos contra a isenção, depende de cada edital.

[2021-10-08 14:58] uira commented on #444
@victorMagalhaesPacheco Entendi, então precisa mesmo ser opcional, né? perfeito.

[2021-10-08 16:29] thaistoscano opened #514 "Incluir pop-up/alert para o botão "Salvar" na página de inscrição"
## **Objetivo**

**Como** Como inscrito em uma oportunidade no mapa da saúde
**Quero** realizar minha inscrição e salvá-la
**Para** melhorar a usabilidade em uma oportunidade na página de inscrição

## **Contexto**
O pop-up/alert para o botão "Salvar" na página de inscrição serve para o usuário ter certeza que quer salvar a inscrição e que essa ação é definitiva. Essa informação já consta na págin

[2021-10-08 16:34] thaistoscano commented on #514
@matheuscpl Por favor, priorizar essa issue para a próxima sprint.

[2021-10-08 18:02] thaistoscano commented on #306
Inserida tag de bloqueado devido @Junior-Shyko estar na criação dos editais no SACS.

[2021-10-13 12:37] thaistoscano commented on #457
Fazer após a revisão da arquitetura.

[2021-10-13 12:54] uira commented on #457
@thaistoscano pra cima deles, @RaniGub 🚀🚀🚀

[2021-10-14 13:14] RaniGub commented on #514
Em conversa com a @thaistoscano foi definido que a issue parassará por um refinamento.

[2021-10-14 20:07] thaistoscano commented on #306
Verificar se contempla as demandas dos editais em geral, ou somente o perfil usado pela ESP. Isso deverá ser configurado de acordo com a seleção e não padrão.

[2021-10-22 12:40] RaniGub commented on #514
@thaistoscano bom dia, aguardando refinamento dessa issue com o @matheuscpl

[2021-10-25 12:23] thaistoscano opened #519 "Melhorias no thumb de compartilhamento do Mapa da Saúde"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

-

## **Escopo**

- [] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [] titulo
**Dado que** algo
**Quando** faço
**então** resulta

# Observações

ex: Prototipo

[2021-10-25 14:33] RaniGub commented on #447
Bom dia @matheuscpl , coloque o link do Figma no Escopo para que eu e o @uira consigamos acompanhar a evolução da tarefa.

[2021-10-25 17:03] RaniGub commented on #457
@thaistoscano precisamos conversar sobre esse card.

[2021-10-25 17:10] RaniGub commented on #457
@thaistoscano no item 1, de 'Pontos a Considerar' desse relatório https://docs.google.com/document/d/1mVUm-M_T4lP0a46IrVesbD42fVwbBmXdUCbIX_i-NbY/edit sugeri ao Uirá que a palavra 'Espaços' se mantenha generalizada para o Mapa e 'Instituições', da aba 'Indicadores', seja modificada para 'Espaços de Saúde' (Issue #517, já conversado com você). Então o tópico dessa tarefa que fala para substituição

[2021-10-25 17:22] thaistoscano commented on #463
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/463?planning-poker) with ZenHub @victorMagalhaesPacheco @FernandaNascimento26 @Junior-Shyko @pedrovitor074 @lucastandy

[2021-10-25 17:30] thaistoscano commented on #509
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/509?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-10-25 17:41] thaistoscano commented on #498
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/498?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-10-25 17:46] thaistoscano commented on #493
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/493?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-10-25 18:08] thaistoscano commented on #498
Aguardar a atualização da nova versão do Mapa.

[2021-10-25 18:12] thaistoscano commented on #509
Aguardar a atualização da nova versão do Mapa.

[2021-10-26 14:12] #501 closed, assigned to vicmagpac, FernandaNascimento26, lucastandy

[2021-10-26 14:13] #367 closed, assigned to ericsonmoreira

[2021-10-26 14:13] #364 closed, assigned to ericsonmoreira

[2021-10-26 14:31] thaistoscano commented on #514
@Clarisse1983 Para análise das narrativas do figma
 https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/Inscrições?node-id=365%3A293

[2021-10-26 16:19] thaistoscano commented on #463
@Clarisse1983 Fará a elaboração dos textos.

[2021-10-26 18:17] RaniGub commented on #463
@matheuscpl editou o escopo e sugeriu onde o texto deveria estar.

[2021-10-26 18:31] thaistoscano commented on #463
![image.png](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/a78ace06-499e-4e94-89a2-910a66d76052)

[2021-10-26 18:32] thaistoscano commented on #463
![image.png](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/d9b4035d-8ed8-4617-930e-fbc19eba74f3)

[2021-10-26 18:33] thaistoscano commented on #463
@RaniGub Avaliar previsão de caracters.

[2021-10-26 18:48] RaniGub commented on #463
Oi @matheuscpl por favor, verifica a experiência adequada para as duas situações e dá uma projeção da quantidade de caractere para cada uma blz? Obg.

[2021-10-28 11:22] matheuscpl commented on #463
@RaniGub Bom dia, adicionei a contagem de caracteres

[2021-10-28 15:19] Junior-Shyko commented on #463
Aguardando os textos para add ao tema.

[2021-10-28 19:03] #363 closed, assigned to vicmagpac, Junior-Shyko, FernandaNascimento26

[2021-10-29 12:16] thaistoscano opened #523 "Melhoria no campo do e-mail de confirmação na inscrição de uma oportunidade"
## **Objetivo**

**Como** administrador de uma oportunidade
**Quero** criar o texto que a pessoa receberá ao se inscrever em minha oportunidade ou utilizar modelo padrão
**Para** que seja personalizada de acordo com a oportunidade

## **Contexto**
O criador da oportunidade atualmente não pode escolher o texto que o inscrito receberá para confirmação de sua inscrição. A ideia é que seja algo person

[2021-10-29 12:28] thaistoscano opened #524 "Corrigir bug na alteração de informações do perfil"
## **Objetivo**

**Como** usuária do mapa da saúde
**Quero** fazer alteração no meu perfil
**Para** corrigir ou adicionar uma informação

## **Contexto**
Atualmente na primeira alteração de campos do perfil as informações não são salvas. Após a segunda inserção e nas demais seguintes ficam realmente salvas no perfil.
-

## **Critérios de Aceitação**

- [ ] Correção do bug que não salva a primeira

[2021-10-29 14:04] thaistoscano opened #525 "Aceitar envio de vídeos até 300mb"
## **Objetivo**

**Como** inscrito em uma oportunidade
**Quero** enviar vídeos de até 300mb
**Para** participar de editais que exijam essa aplicação

## **Contexto**
Atualmente o mapa não aceita o envio de vídeo de 300mb. Será necessário ajustar a aplicação para essa recepção.

## **Critérios de Aceitação**

- [ ] Adaptar a aplicação para aceitar vídeos de até 300mb.
**Dado que**  estou inscrita e

[2021-10-29 14:22] #361 closed, assigned to ericsonmoreira, FernandaNascimento26

[2021-10-29 14:23] #370 closed, assigned to ericsonmoreira

[2021-10-29 14:23] #405 closed, assigned to Junior-Shyko, matheuscpl

[2021-10-29 14:24] #44 closed, assigned to ericsonmoreira

[2021-10-29 14:24] #427 closed, assigned to ericsonmoreira, vicmagpac

[2021-10-29 14:25] #428 closed, assigned to vicmagpac

[2021-10-29 14:25] #439 closed, assigned to ericsonmoreira

[2021-10-29 14:26] #440 closed, assigned to FernandaNascimento26, matheuscpl

[2021-10-29 14:26] #441 closed, assigned to ericsonmoreira

[2021-10-29 14:26] #430 closed, assigned to ericsonmoreira

[2021-10-29 14:28] #477 closed, assigned to vicmagpac

[2021-10-29 14:30] #495 closed, assigned to vicmagpac

[2021-10-29 14:33] #487 closed, assigned to vicmagpac

[2021-10-29 14:36] Junior-Shyko commented on #463
![image.png](https://images.zenhubusercontent.com/61092b9464d7502ba0e520b9/f7b20362-380f-4b59-898a-1d47cfe9c089)

Esse texto ao cadastrar é o mesmo texto que aparece no login. Se tiver como ser um texto genérico para os dois momentos, seria ótimo.

[2021-10-29 15:03] Junior-Shyko commented on #463
https://docs.google.com/document/d/1l2FVCBLlphCfdr3JEYKY51iQSdaGnvt_Q836T75DTcA/edit#heading=h.fh6100fgebjw

[2021-10-30 18:45] uira commented on #463
@Junior-Shyko já  é!

[2021-10-31 00:12] Junior-Shyko commented on #463
ok, já havia até iniciado com esse texto mesmo.

[2021-11-03 18:57] Junior-Shyko commented on #463
Nessa mesma atividade vai ter o link para o TERMOS E USO do mapa? saberia me informar @uira , @thaistoscano , @matheuscpl ?

[2021-11-03 18:57] vicmagpac commented on #525
@thaistoscano atualização realizada em homologação.
Precisamos realizar os testes no ambiente com upload de 300mb.

[2021-11-03 20:55] Andreqlp opened #528 "EAP#533 Módulo de homologação - Cuidar Melhor"
## EAP

[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/533)

## **Objetivo**

**Como** gestor de uma oportunidade
**Quero** selecionar uma modelo de avaliação que permita configurar vários critérios de avaliação para serem validados.
**Para** aceitação de uma inscrição que deve passar para um próxima etapa de avali

[2021-11-04 11:37] uira commented on #525
@victorMagalhaesPacheco @andreqlp viu aqui?

[2021-11-04 13:19] Andreqlp commented on #525
a @thaistoscano informou que só seria aplicada essa configuração dos 300 mb de anexo no ambiente de produção, os planos mudaram?

[2021-11-04 14:20] Junior-Shyko commented on #463
PR realizado no repositório do ID Saúde: https://github.com/EscolaDeSaudePublica/IdentidadeUnicaDeSaude/pull/61

[2021-11-04 14:36] RaniGub commented on #451
@matheuscpl você pode indicar o link do Figma para essa solução?

[2021-11-04 14:45] RaniGub commented on #513
@matheuscpl você pode indicar o link do Figma para essa tarefa?

[2021-11-04 14:46] RaniGub commented on #512
@matheuscpl você pode indicar o link do Figma para essa tarefa?

[2021-11-05 11:55] thaistoscano commented on #496
[https://app.zenhub.com/files/319384032/ad4d2d31-95f2-4c34-b45a-8b864e1c0a27/download](https://app.zenhub.com/files/319384032/ad4d2d31-95f2-4c34-b45a-8b864e1c0a27/download)

[2021-11-05 12:08] thaistoscano opened #530 "Desempate seguindo a ordem dos critérios"
## **Objetivo**

**Como** gestor de uma oportunidade
**Quero** realizar o desempate pelo sistema
**Para** realizar a classificação correta conforme o edital

## **Contexto**
Demanda apresentada em virtude do edital do concurso do programa Cuidar Melhor. Cumprimento do item: 7.7 Em caso de empate, serão utilizados os critérios elencados no subitem 7.3. A melhor colocação será dada para a iniciativa

[2021-11-05 12:16] thaistoscano commented on #528
Acho que é importante vincularmos aos critérios de aceitação a habilitação dos recursos.

[2021-11-05 12:29] thaistoscano opened #531 "Habilitação de recursos (Para o módulo de homologação)"
## **Objetivo**

**Como** usuário do mapa
**Quero** solicitar recurso
**Para** questionar algum critério votado pela banca

## **Contexto**
Em virtude do edital do Concurso Cuidar Melhor será necessário criar novo módulo de homologação no mapa. E para esse ser habilitado os recursos ao candidato.

## **Critérios de Aceitação**

- [ ] Possibilitar que o candidato recorra aos itens também vinculados

[2021-11-05 12:31] thaistoscano commented on #530
Versão 1 - Edital
https://docs.google.com/document/d/13akheV6emzwnl3bBZV5V44ik6pKAhlIA83UDE3s4cCM/edit

[2021-11-05 12:35] Andreqlp commented on #530
Imagino que a proposta do programa Cuidar Melhor seja o modelo padrão de desempate do Mapas no módulo de avaliação técnica. Assim, considera-se a mesma ordem dos critérios de avaliação como a ordem do desempate. Por exemplo, se tenho um avaliação com os seguintes critérios:

Critério A
Critério B
Critério C

Se houver empate na nota geral de dois candidatos, o sistema iria colocar como primeiro o

[2021-11-05 12:36] Andreqlp commented on #531
Queria entender pq vincular o recurso ao módulo de avaliação, ao invés de fazer uma solução genéria que possa servir para qualquer módulo.

[2021-11-05 12:55] thaistoscano opened #532 "Criar relatório com resultado parcial e final de uma oportunidade"
## **Objetivo**

**Como** usuário do mapa
**Quero** visualizar os resultados
**Para** conferir os selecionados

## **Contexto**
Em virtude do Concurso Cuidar Melhor é necessário gerar relatórios parciais e finais de uma oportunidade.
-

## **Critérios de Aceitação**

- [x] Criação de relatório parcial para uma oportunidade
- [x] Criação de relatório final para uma oportunidade
- [x] Exibir resulta

[2021-11-05 16:55] thaistoscano opened #533 "Incluir opção N/A (não se aplica) aos critérios de avaliação (técnica)"
## **Objetivo**

**Como** avaliador de uma oportunidade
**Quero* poder definir que um critério não se aplica
**Para** que não seja contabilizado na média

## **Contexto**
O avaliador precisa ter a opção não se aplica para cada um dos critérios de avaliação. Ao marcar essa opção a nota do critério não é contabilizada.

Cumprimento do item: 7.5 Será atribuída a classificação N/A (não se aplica), qua

[2021-11-05 17:30] thaistoscano opened #534 "Média ponderada das notas do avaliador"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** que ela seja avaliada com média ponderada e 2 avaliadores
**Para** que haja pesos nos critérios e ambos avaliadores na nota

## **Contexto**
O edital solicita a divisão do resultado obtido pela soma dos pesos utilizados nos critérios de pontuação.

Cumprimento do item: 7.1.2 Os especialistas na temática farão a atribuição de notas. A not

[2021-11-08 17:14] RaniGub opened #537 "Proposta de Home Mapa da Saúde"
## **Objetivo**

**Como** designer
**Quero** propor nova interface para Home do Mapa da Saúde
**Para** possibilitar uma melhor Experiência para pessoa usuária

## **Contexto**

Devido alguns problemas de usabilidade levantados no Mapa da Saúde, é importante que seja proposta uma nova experiência para quem acessa a plataforma.

## **Escopo**
- [ ] Propor nova interface para Home do Mapa da Saúde co

[2021-11-08 17:15] RaniGub commented on #537
@thaistoscano verificar prioridade.

[2021-11-08 17:16] thaistoscano commented on #532
@matheuscpl Ajustar o figma para fases separadas

[2021-11-08 17:21] thaistoscano commented on #533
@matheuscpl Alterar para que se não haja nota, possua o critério de não se aplica (vinculado à avaliação técnica).

[2021-11-08 17:23] thaistoscano commented on #530
@victorMagalhaesPacheco @Junior-Shyko Verificar com o hacklab se já existe essa função "padrão".

[2021-11-08 17:28] thaistoscano commented on #496
Geração atual do mapa
[https://app.zenhub.com/files/319384032/7bc66db3-f90e-41a5-83ec-a1d636af525a/download](https://app.zenhub.com/files/319384032/7bc66db3-f90e-41a5-83ec-a1d636af525a/download)

[2021-11-08 17:54] thaistoscano commented on #532
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/532?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 18:00] RaniGub opened #538 "Estudar a navegação entre os Indicadores do Mapa"
## **Objetivo**

**Como** designer
**Quero** entender o relacionamento dos Indicadores
**Para** propor uma melhor experiência

## **Contexto**

Devemos entender como os indicadores estão relacionados para propor uma experiência de visualização de dados mais adequada.

## **Escopo**
- [ ] Levantar a lista dos Tipos dos Indicadores (Criar uma árvore de relacionamento)
- [ ] Criar uma descrição para

[2021-11-08 18:08] RaniGub commented on #538
@thaistoscano @uira existem alguns comentários levantados acerca da Taxonomia que vão se relacionar com essa tarefa. Vamos definir.

Arquivo:
https://docs.google.com/document/d/1mVUm-M_T4lP0a46IrVesbD42fVwbBmXdUCbIX_i-NbY/edit

Item 2 de 'Pontos a considerar'

[2021-11-08 18:39] thaistoscano commented on #534
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/534?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 18:41] thaistoscano commented on #533
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/533?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 18:46] thaistoscano commented on #534
Já existe a média ponderada na avaliação técnica. É necessário se testar para ver o funcionamento e realizar testes após o critério N/A também.

[2021-11-08 18:50] thaistoscano commented on #530
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/530?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 18:57] thaistoscano commented on #523
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/523?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 19:00] thaistoscano commented on #496
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/496?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 19:19] vicmagpac commented on #528
@thaistoscano caso o preenchimento dos critérios for "NÃO AVALIAR", qual situação deve ser para a avalição?

[2021-11-08 19:24] thaistoscano opened #539 "Módulo homologação - Tela para a criação de uma oportunidade"
## **Objetivo**

Como gestor de uma oportunidade
Quero selecionar uma modelo de avaliação que permita configurar vários critérios de avaliação para serem validados.
Para aceitação de uma inscrição que deve passar para um próxima etapa de avaliação.

Como avaliador de uma oportunidade
Quero avaliar as inscrições como de acordo com os critérios do edital
Para finalizar minhas avaliações.

## **Conte

[2021-11-08 19:25] thaistoscano opened #540 "Módulo de Homologação - Tela para a configurar a avaliação ."
## **Objetivo**

Como gestor de uma oportunidade
Quero selecionar uma modelo de avaliação que permita configurar vários critérios de avaliação para serem validados.
Para aceitação de uma inscrição que deve passar para um próxima etapa de avaliação.

Como avaliador de uma oportunidade
Quero avaliar as inscrições como de acordo com os critérios do edital
Para finalizar minhas avaliações.

## **Conte

[2021-11-08 19:27] thaistoscano opened #541 "Módulo Homologação - Tela para visualizar as inscrições"
## **Objetivo**

Como gestor de uma oportunidade
Quero selecionar uma modelo de avaliação que permita configurar vários critérios de avaliação para serem validados.
Para aceitação de uma inscrição que deve passar para um próxima etapa de avaliação.

Como avaliador de uma oportunidade
Quero avaliar as inscrições como de acordo com os critérios do edital
Para finalizar minhas avaliações.

## **Conte

[2021-11-08 19:28] thaistoscano opened #542 "Módulo de Homologação - Tela para realizar a avaliação"
## **Objetivo**

Como gestor de uma oportunidade
Quero selecionar uma modelo de avaliação que permita configurar vários critérios de avaliação para serem validados.
Para aceitação de uma inscrição que deve passar para um próxima etapa de avaliação.

Como avaliador de uma oportunidade
Quero avaliar as inscrições como de acordo com os critérios do edital
Para finalizar minhas avaliações.

## **Conte

[2021-11-08 19:29] thaistoscano opened #543 "Módulo de Homologação - Arquivo com a lista das avaliações"
## **Objetivo**

Como gestor de uma oportunidade
Quero selecionar uma modelo de avaliação que permita configurar vários critérios de avaliação para serem validados.
Para aceitação de uma inscrição que deve passar para um próxima etapa de avaliação.

Como avaliador de uma oportunidade
Quero avaliar as inscrições como de acordo com os critérios do edital
Para finalizar minhas avaliações.

## **Conte

[2021-11-08 19:31] thaistoscano commented on #539
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/539?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 19:35] thaistoscano commented on #540
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/540?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 19:41] thaistoscano commented on #541
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/541?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-08 19:55] thaistoscano commented on #542
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/542?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-09 14:13] thaistoscano commented on #543
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/543?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-09 20:17] Junior-Shyko commented on #532
O que vai diferenciar o relatório parcial para o relatório Final?
Ex:

- O Parcial terá as notas e o final somente a status?

- O Parcial tem todos candidatos e o definitivo tem somente os aprovados?

[2021-11-10 13:01] thaistoscano commented on #532
@matheuscpl Para análise do comentário acima. E elaboração de figmas separados de acordo com o tipo de avaliação.

[2021-11-11 10:59] matheuscpl commented on #539
Protótipo adicionado

[2021-11-11 10:59] matheuscpl commented on #541
Protótipo adicionado

[2021-11-11 10:59] matheuscpl commented on #540
Protótipo adicionado

[2021-11-11 10:59] matheuscpl commented on #542
Protótipo adicionado

[2021-11-11 11:00] matheuscpl commented on #543
Sem necessidade de protótipo

[2021-11-11 12:38] thaistoscano opened #544 "Retirada da entrada dos dados no CNES no gráfico de novos agentes"
## **Objetivo**

**Como** usuário do mapa
**Quero** ter a visão dos novos cadastros diretos no mapa
**Para** não visualizar os dados de outros bancos

## **Contexto**
Atualmente na aba de indicadores no gráfico de cadastro de novos agentes por semana visualiza-se uma discrepância devido a migração de dados do CNES.

## **Critérios de Aceitação**

- [ ] Retirar do gráfico de cadastro dos novos prof

[2021-11-11 13:44] thaistoscano opened #545 "Melhorias para a declaração (certificado) gerado pelo Mapa"
## **Objetivo**

**Como** usuário do mapa
**Quero** uma declaração
**Para** comprovação de participação em um evento

## **Contexto**
Atualmente o mapa emite certificados do tipo declaração para eventos por meio do selo. Então é necessário configurar esse modelo para que seja emitido em PDF.
-

## **Critérios de Aceitação**
- [ ] Inclusão de uma ou mais assinaturas digitalizadas no corpo do texto

[2021-11-11 13:52] #462 closed, assigned to Junior-Shyko

[2021-11-11 18:01] vicmagpac commented on #544
Atividade atualizada em produção.

[2021-11-11 18:06] RaniGub commented on #537
@matheuscpl vamos trabalhar na perspectiva de apresentar essa proposta e a dos indicadores entre a conclusão dos cards priorizados para as sprints. Vou destacar um tópipo dos indicadores que conseguimos alinhar na próxima daily. @thaistoscano fiz o alinhamento com Uirá sobre Home e indicadores.

[2021-11-11 18:16] RaniGub opened #546 "Indicadores do Mapa | Página da seção dos Indicadores"
## **Objetivo**

**Como** designer
**Quero** criar uma página home para indicadores
**Para** proporcionar uma melhor experiência para pessoa usuária

## **Contexto**

Antes de uma análise detalhada sobre apresentação dos indicadores ser realizada, devemos propor uma solução para página da seção.

## **Escopo UX**
- [x] Criar home para seção de indicadores

## **Escopo PubliciLAB**
- [ ] Criar text

[2021-11-11 18:17] vicmagpac commented on #528
O repositório da implementação do plugin se encontra em https://github.com/EscolaDeSaudePublica/plugin-EvaluationMethodHomolog

[2021-11-11 18:26] uira commented on #537
@RaniGub E tirar o Eventos do Menu, né? ;)

[2021-11-11 18:27] uira commented on #528
@victorMagalhaesPacheco Que maaaasssaaaaa!!!!

[2021-11-11 18:43] RaniGub opened #547 "Ocultar opção 'Eventos' do Menu Principal"
## **Objetivo**

**Como** desenvolvedor
**Quero** ocultar a opção 'Eventos' do menu principal
**Para** não possibilitar que a pessoa usuária acesse uma seção sem informações

## **Contexto**

No cenário atual, a opção de Eventos não deveria ter destaque no menu principal do Mapa da Saúde.

## **Escopo UX**
- [ ] Ocultar opção 'Eventos' do menu principal

## **Escopo DEV**
- [ ] Ocultar opção 'Even

[2021-11-12 02:28] Junior-Shyko commented on #532
Atualização do commit: https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commits/feature/criar-relatorio-oportunidade

[2021-11-13 22:33] Junior-Shyko commented on #496
Criado folha de estilho e rota para minhas inscrições:  [Commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/4158f92f37eabfda33616cc547535fa4ad0f2a6c)

[2021-11-16 02:43] Junior-Shyko commented on #496
Add os dados da oportunidade: [Commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/07a3ee7d8e9222c1cf097b68e02b60c4506a0481) no repositório do Plugin

[2021-11-17 02:53] Junior-Shyko commented on #496
Atualização com toda estrutura do plugin: [commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/b451ea4f49009eb6b5ae879562154ba03e1df714)

[2021-11-17 13:29] thaistoscano commented on #545
@helenhilario Para esse último item "Envio a declaração por e-mail ao usuário após o evento, se ele estiver validado pelo avaliador" como está sendo feita a validação atualmente?

[2021-11-17 13:52] #493 closed, assigned to lucastandy

[2021-11-17 13:52] #525 closed, assigned to vicmagpac

[2021-11-17 15:08] #491 closed, assigned to Junior-Shyko, FernandaNascimento26

[2021-11-18 12:45] vicmagpac commented on #525
Atualização para aceitar novas variáveis de configurações: https://github.com/EscolaDeSaudePublica/mapadasaude/commit/53fc8370f867e9bfc1dee5e375cb1bcbd34f37f3

[2021-11-18 13:12] thaistoscano opened #553 "Condicionar inclusão de data de Resultado Final na Criação de uma Oportunidade e envio de e-mail com resultado das oportunidades"
## **Objetivo**

**Como** usuário do mapa
**Quero** visualizar claramente qual a data da publicação do Resultado Final de uma oportunidade e receber um e-mail avisando que o Resultado Final de uma oportunidade na qual me inscrevi está disponível.
**Para** saber quando poderei acessar o Resultado Final de uma oportunidade.

## **Contexto**
- A proposta é que o candidato visualize facilmente a data

[2021-11-18 13:14] thaistoscano opened #554 "Criar um certificado por meio do selo para o Termo de Adesão do Cuidar Melhor"
## **Objetivo**

**Como** participante da oportunidade Termo de Adesão do Cuidar Melhor
**Quero** emitir um certificado
**Para** comprovar que foi validada a participação do meu município

## **Contexto**
Para a demanda do Cuidar Melhor (oportunidade Termo de Adesão) será necessário que o **MUNICÍPIO** ao ser validado receba um certificado demonstrando que aderiu aquela iniciativa.

## **Critérios

[2021-11-18 14:18] matheuscpl commented on #530
Após análise de UX foi visto que não há necessidade de protótipo, esta issue define apenas a regra de negócio do desempate

[2021-11-18 15:50] Junior-Shyko commented on #496
Adicionado Footer: [Commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/a0feee120aaf7068cf154d712ce9c17fcb5aa3ea)

[2021-11-19 18:57] thaistoscano commented on #554
https://programas.saude.ce.gov.br/cuidarmelhor/

[2021-11-22 11:20] vicmagpac commented on #496
Atividade implementada e adicionada em produção, atendendo o cuidar melhor. Entretanto é necessário implementar melhorias para atender a todos os tipos diferentes de configurações e campos das oportunidades.

[2021-11-22 13:26] thaistoscano opened #555 "Corrigir mensagem de erro ao tentar salvar oportunidade com data final anterior a inicial"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** salvar a data de uma oportunidade, acabo fazendo de maneira incorreta
**Então** deve aparecer uma mensagem de alerta do erro que estou cometendo

## **Contexto**
Atualmente no Mapa ao tentar salvar uma data incorreta (data final anterior a inicial) o sistema não me permite, aparecendo somente uma caixa de erro sem nenhum texto, sendo dif

[2021-11-22 16:55] thaistoscano opened #556 "Implementar automatização na aplicação dos selos e validação das declarações (QRCode)"
## **Objetivo**

**Como** persona
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

-

## **Escopo**

- [] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**
- [ ] Criação QRCode e link para validação da declaração por qualquer interessado.
- [ ] Aplicar o selo aos candidatos automaticamente de acordo com seu status (criação de novo botão)
- [ ] Envio a de

[2021-11-22 16:56] thaistoscano commented on #545
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/545?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-22 17:18] thaistoscano commented on #556
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/556?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-22 17:29] thaistoscano commented on #554
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/554?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-22 17:43] thaistoscano commented on #553
@matheuscpl Diferenciar o resultado parcial do final
Contendo no parcial ex: "Lembramos que este resultado é parcial e pode ser alterado até a publicação do resultado final, conforme o cronograma do certame"

[2021-11-22 17:44] thaistoscano commented on #553
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/553?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-11-22 17:52] thaistoscano commented on #524
Já houve essa correção no controlador do agente.

[2021-11-22 17:52] #524 closed, assigned to thaistoscano

[2021-11-22 17:59] thaistoscano commented on #530
[https://app.zenhub.com/files/319384032/e333ae75-0d24-4257-8d99-1d3b744cf0a5/download](https://app.zenhub.com/files/319384032/e333ae75-0d24-4257-8d99-1d3b744cf0a5/download)

[2021-11-23 11:25] Junior-Shyko opened #557 "Impressão de inscritos"

[2021-11-23 11:33] Junior-Shyko commented on #557
## **Objetivo**

**Como** Administrador de uma oportunidade
**Quero** gerar o relatório de inscritos sem nenhum bug/faltando algo
**Para** poder ter um relatório em mãos de todos os candidatos

## **Contexto**

- Ao gerar o relatório de inscritos o administrador da oportunidade ver um relatório faltando imagens e sem alguns contextos

## **Escopo**

- [x] Colocar imagens de cabeçalho

- [x] Ajusta

[2021-11-23 12:07] thaistoscano commented on #533
[https://app.zenhub.com/files/319384032/a65f6c09-4767-4677-a26f-219633594ac4/download](https://app.zenhub.com/files/319384032/a65f6c09-4767-4677-a26f-219633594ac4/download)

[2021-11-23 12:43] Junior-Shyko commented on #557
Ultimo [commit ](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/d1b25557912616da9aa9eda2fb931b408e679a02) da atualização dessa atividade está no plugin-PDFReport

[2021-11-23 14:15] fernandafnascmnt commented on #545
@matheuscpl poderia, por favor, gerar uma imagem deste exemplo de certificado para que eu possa inserir para o participante veja como modelo? O texto do corpo pode ser padrão ou lerem ipsum. Obrigada!!

[2021-11-23 14:42] matheuscpl commented on #545
@FernandaNascimento26 Add a imagem

[2021-11-23 16:32] #539 closed, assigned to vicmagpac

[2021-11-23 16:32] #540 closed, assigned to vicmagpac

[2021-11-23 16:32] #541 closed, assigned to vicmagpac

[2021-11-23 16:32] #542 closed, assigned to vicmagpac

[2021-11-23 16:33] #523 closed, assigned to lucastandy, thaistoscano

[2021-11-23 16:34] #543 closed, assigned to pedrovitor074

[2021-11-23 16:34] #544 closed, assigned to vicmagpac

[2021-11-23 17:04] Junior-Shyko commented on #496
Algum cenário especifico? alguma suspeita de campos para testar?
De qualquer forma vou criar uma oportunidade com todos os campos do form build

[2021-11-23 17:23] vicmagpac commented on #496
@Junior-Shyko acredito que testando uma oportunidade com todos os tipos de campos possíveis no form builder do mapas, com e sem obrigatoriedade.

[2021-11-23 17:26] Junior-Shyko commented on #496
![image](https://user-images.githubusercontent.com/7341117/143073918-0376d484-f421-4059-8d2b-ff56181b48bb.png)

- [ ] Correção da opção

[2021-11-23 18:26] Junior-Shyko commented on #496
Atualização em:

- [x] Mascará CPF do form build (que não seja do agente resp. ou col.);
- [x] Formatar a data do form buiild (que não seja do agente resp. ou col.);
- [x] Lista de links
- [ ] Mascará telefone do form buiild (que não seja do agente resp. ou col.);
- [x] Formatar múltiplas escolhas (checkboes) da mesma forma que é **lista de nomes**
- [x] Área de atuação do Agente;
- [ ] Load enqua

[2021-11-23 19:44] Junior-Shyko commented on #496
[Commit ](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/96c9a1d668af702c22ad61dcfbbacbe3a7dd9e47 )com atualização nos campos de CPF, DATA, LISTA DE LINKS

[2021-11-24 23:11] Junior-Shyko commented on #496
[Commit ](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/35f61082295cf49448679efbb62fe2e30beeb475) com atualização para exibição dos campos e os valores do form build, ag. responsável e ag. coletivo.

[2021-11-25 18:03] pedrovitor074 commented on #532
@thaistoscano conversando com a @helenhilario  e o @Junior-Shyko , vimos que não é preciso colocar a nota de cada seção da avaliação preliminar,  somente a nota preliminar ( no relatório  ) e disponibilizar a nota de cada seção somente para o inscrito em seu painel.

[2021-11-25 18:17] RaniGub commented on #117
O Design System está no horizonte das Iniciativas. Quando concluído, afetará todas nossas soluções.

[2021-11-25 21:44] Junior-Shyko commented on #554
Iniciado plugin com a geração do PDF.  [Commit ](https://github.com/EscolaDeSaudePublica/plugin-SealCuidarMelhor/commits/develop)

[2021-11-26 19:19] gabrieladamarques opened #559 "_EAP#552 Análise da AI atual"
## Contexto do épico
Este épico reunirá iniciativas com a função de manter o usuário informado. Contemplará envio de e-mails ao candidato se inscrever em uma oportunidade, ao ser publicado algum resultado da oportunidade que está inscrito, para alertar inscrições não concluídas, entre outros ações com esse foco.

## EAP
[Plataforma interativa\Customização\Estruturação da arquitetura da informação]

[2021-11-26 19:23] gabrieladamarques opened #560 "_EAP#553 Nova proposta de AI"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Estruturação da arquitetura da informação](https://projetos.esp.ce.gov.br/issues/553)

## Observações
À ser analisado primeiramente pelo Design

[2021-11-26 19:28] gabrieladamarques opened #561 "_EAP#203 Modo de visualização em gráficos contextuais"
## Contexto do épico

## EAP
[Plataforma interativa\Customização\Reestruturação de interface\Modos de visualização] (https://projetos.esp.ce.gov.br/issues/203)

## Observações
À ser analisado primeiramente pelo Design

[2021-11-26 19:40] gabrieladamarques opened #562 "_EAP#541 Análise do fluxo de cadastro atual"
## Contexto do épico

## EAP
[Plataforma interativa\Customização\Definição do fluxo integrado de cadastro das pessoas usuárias](https://projetos.esp.ce.gov.br/issues/541)

## Observações
À ser analisado primeiramente pelo Design

[2021-11-26 19:42] gabrieladamarques opened #563 "_EAP#542 Consistência da taxonomia entre aplicações"
### Contexto do épico

### EAP
[Plataforma interativa\Customização\Definição do fluxo integrado de cadastro das pessoas usuárias](https://projetos.esp.ce.gov.br/issues/542)

### Observações
Tarefa do Design

[2021-11-26 19:44] gabrieladamarques opened #564 "_EAP#543 Desenho do novo fluxo de cadastro"
### Contexto do épico

### EAP
[Plataforma interativa\Customização\Definição do fluxo integrado de cadastro das pessoas usuárias](https://projetos.esp.ce.gov.br/issues/543)

### Observações
Tarefa do Design

[2021-11-26 20:09] Junior-Shyko commented on #554
Adicionado o campo para escolher a oportunidade e o campo desejado q quer mostrar no certificado. [Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCuidarMelhor/commit/73e62f1a0dcb8f6553f0ead8b6588fb72d139a51)

[2021-11-28 12:40] thaistoscano opened #565 "Bug ao importar formulário de inscrição"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** importar os campos de uma oportunidade
**Para** aproveitar todo o processo em outra

## **Contexto**
O mapa está bugando quando se importa/exporta formulários de uma oportunidade para outra. Quando você exporta em outra e altera as categorias, elas continuam sendo puxadas da oportunidade que foi importada na segunda fase e não das catego

[2021-11-28 12:59] thaistoscano commented on #565
Perfis da oportunidade (corretos)
![image.png](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/1a27281b-f39d-4bbf-912f-16a52edb466f)

[2021-11-28 13:00] thaistoscano commented on #565
Perfis puxados na importação (incorreto)
![image.png](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/4f048730-5cc4-4238-9dc6-e79639db57ac)

[2021-11-29 17:51] thaistoscano opened #566 "Criar obrigatoriedade para as categorias (opções)"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** ter a opção de marcar como obrigatória a opção de uma categoria
**Para** que o inscrito não deixe em branco

## **Contexto**
Atualmente as categorias (opções) podem não ser preenchidas, o que não pode ocorrer na maioria dos certames.
-

## **Critérios de Aceitação**

- [ ] Permitir que as categorias de uma oportunidade possam ser obrigat

[2021-11-30 03:24] Junior-Shyko commented on #554
Adicionar novas views, layouts, Entities e refatorando Plugin.php [Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCuidarMelhor/commits/feature/cuidar-melhor)

[2021-11-30 13:04] thaistoscano commented on #496
https://docs.google.com/document/d/1Vsr0hT0s-X58VMRyIGvNMwv9VIddcCT9XfQ01ayvGvY/edit
Verificar documento, após refinamento passaremos a contar como critérios.

[2021-11-30 15:18] Junior-Shyko commented on #496
Add categorias, add condições para ag. resp. e refatorado função. [Commit] (https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/4f4780a0cd8bc078d2d5034944a033ccff0cf244)

[2021-11-30 16:26] gabrieladamarques opened #567 "_EAP#527 Avaliações de Inscrições - Cuidar Melhor"
## Contexto do épico

## EAP
[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/527)

## Observações
À ser analisado primeiramente pelo Design

[2021-11-30 16:27] gabrieladamarques opened #568 "_EAP#528 Modelo de certificados a partir de selos - Cuidar Melhor"
## Contexto do épico

## EAP
[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/528)

## Observações

[2021-11-30 16:27] gabrieladamarques opened #569 "_EAP#529 Comprovante de inscrições - Cuidar Melhor"
## Contexto do épico

## EAP
[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/529)

## Observações

[2021-11-30 16:27] gabrieladamarques opened #570 "_EAP#530 Publicação de resultados - Cuidar Melhor"
## Contexto do épico

## EAP
[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/530)

## Observações

[2021-11-30 16:27] gabrieladamarques opened #571 "_EAP#531 Notificações - Cuidar Melhor"
## Contexto do épico

## EAP
[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/531)

## Observações

[2021-11-30 16:28] gabrieladamarques opened #572 "_EAP#532 Módulo de prestação de contas - Cuidar Melhor"
## Contexto do épico

## EAP
[Concurso Município Inovador - Programa Cuidar Melhor\Melhorias na plataforma Mapa da Saúde](https://projetos.esp.ce.gov.br/issues/532)

## Observações

[2021-11-30 16:56] gabrieladamarques opened #573 "_EAP#549 Certificação selos ESP"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Estruturação do gerenciamento de selos](https://projetos.esp.ce.gov.br/issues/549)

## Observações

[2021-11-30 16:57] gabrieladamarques opened #574 "_EAP#550 Implementação de certificação digital"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Estruturação do gerenciamento de selos](https://projetos.esp.ce.gov.br/issues/550)

## Observações

[2021-11-30 16:57] gabrieladamarques opened #575 "_EAP#551 Revisão de UX para selos"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Estruturação do gerenciamento de selos](https://projetos.esp.ce.gov.br/issues/551)

## Observações

[2021-11-30 17:07] gabrieladamarques opened #576 "_EAP#556 Definição dos eventos para notificação"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Central de notificações](https://projetos.esp.ce.gov.br/issues/556)

## Observações

[2021-11-30 17:07] gabrieladamarques opened #577 "_EAP#557 Notificações por email"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Central de notificações](https://projetos.esp.ce.gov.br/issues/557)

## Observações

[2021-11-30 17:07] gabrieladamarques opened #578 "_EAP#555 Notificação push via SMS"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Central de notificações](https://projetos.esp.ce.gov.br/issues/558)

## Observações

[2021-11-30 17:07] gabrieladamarques opened #579 "_EAP#560 Gerenciamento das notificações"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Central de notificações](https://projetos.esp.ce.gov.br/issues/560)

## Observações

[2021-11-30 17:16] gabrieladamarques opened #580 "_EAP#546 Gerenciamento de avaliações"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Gerenciamento de editais e eventos](https://projetos.esp.ce.gov.br/issues/546)

## Observações

[2021-11-30 17:16] gabrieladamarques opened #581 "_EAP#547 Gerenciamento de recursos"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Gerenciamento de editais e eventos](https://projetos.esp.ce.gov.br/issues/547)

## Observações

[2021-11-30 17:16] gabrieladamarques opened #582 "_EAP#548 Gerenciamento de resultados"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Plataforma interativa\Customização\Gerenciamento de editais e eventos](https://projetos.esp.ce.gov.br/issues/548)

## Observações

[2021-11-30 20:11] Junior-Shyko commented on #496
[Commit] (https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/fa4c1ee8ae90a9ddd52e7644e0691dc88620808c)

[2021-11-30 20:18] fernandafnascmnt commented on #545
[Inclusão do carregamento de imagem e campo de assinatura](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/pull/2)

[2021-12-01 11:34] RaniGub opened #583 "Envio de múltiplos arquivos por critério em uma oportunidade"
## **Objetivo**

**Como** pessoa usuária do Mapa da Saúde
**Quero** dispor de uma opção para upload de vários anexos por critério/item em uma oportunidade
**Para** conseguir enviar (fazer upload) em mais de um arquivo por critério/item de uma oportunidade

## **Contexto**
Em função do Edital 26/2021, é preciso que esse ponto seja trabalhado para que a pessoa usuária consiga enviar mais de um anexo

[2021-12-01 11:41] RaniGub commented on #583
@victorMagalhaesPacheco A ideia é deixar um único campo para a pessoa ir selecionando de um em um os arquivos e abaixo um campo que mostre os arquivos que já foram upados com a opção de excluir. É possível criar a experiência nessa direção?

[2021-12-01 12:35] thaistoscano opened #584 "Criar a possibilidade de múltiplos anexos para um campo da oportunidade"
## **Objetivo**

**Como** Usuário de uma oportunidade
**Quero** anexar múltiplos anexos
**Para** comprovar as pontuações do edital

## **Contexto**
Atualmente no mapa para cada anexo é necessário um novo campo a ser inserido pelo dono da oportunidade. A ideia é que somente com um campo inserido seja possível que o usuário coloque a quantidade de anexos que desejar.
-

## **Critérios de Aceitação**

[2021-12-01 14:00] fernandafnascmnt commented on #545
@matheuscpl , poderia por favor, me fornecer a imagem do rodapé?

![Captura de tela de 2021-12-01 10-54-03.png](https://images.zenhubusercontent.com/6107f7497cd3e401e98eca0e/6af66a09-9bd5-4f3e-bd6e-77d649eb20c3)

[2021-12-01 14:44] matheuscpl commented on #545
[rodapé (2).zip](https://github.com/EscolaDeSaudePublica/mapadasaude/files/7634793/rodape.2.zip)
Agora sim! rs

[2021-12-01 17:38] vicmagpac commented on #566
@pedrovitor074 esse é um PR no core pra adicionar hooks nas validações: https://github.com/EscolaDeSaudePublica/mapadasaude/pull/586

Esse é o PR para adicionar validação https://github.com/EscolaDeSaudePublica/Saude/pull/285 na categoria da oportunidade no momento da criação.

[2021-12-01 20:21] Junior-Shyko commented on #496
[Commit ](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/d073462a7161d14943d2e9082fdb893eca39de5f) - Ocultando e mostrando campos com dependência.

[2021-12-01 21:47] RaniGub commented on #583
Escopo da tarefa editado.

[2021-12-01 21:48] RaniGub commented on #583
Escopo da tarefa editado.

[2021-12-02 12:17] pedrovitor074 commented on #566
Foi adicionado a verificação no front end para mostrar que o campo categoria é obrigatório no momento da inscrição, e na criação de oportunidade também.

[2021-12-02 18:28] Junior-Shyko commented on #554
Conteúdo da atualização no [commit](https://github.com/EscolaDeSaudePublica/plugin-SealCuidarMelhor/commit/d1f71448028881820bbe94b29ce06921bf591cf9)

[2021-12-02 20:49] vicmagpac commented on #584
Atividade com impacto no core do mapas e no tema.
Branch feature do tema: https://github.com/EscolaDeSaudePublica/Saude/tree/feature/multiple-upload

[2021-12-03 19:43] vicmagpac commented on #584
Ao ser atualizado no ambiente é necessário executar o ./db-update para atualizar as migrations.

[2021-12-03 19:53] ClarisCaval commented on #514
Sugestões:
Caixa de envio: Após o envio, as informações não poderão ser editadas. Se deseja continuar, é só enviar.
Salvar para depois: Ao clicar, suas informações ficarão salvas para envio posterior. Clique se é isso que deseja fazer.

Mas eu sinceramente curti as mensagens que estão lá, não achei confusas. Vejam se essa proposta atende. ;)

[2021-12-06 13:17] vicmagpac commented on #584
Necessário realizar a limpeza no DoctrineProxies `cd DoctrineProxies &&  rm -R *` e seguida reiniciar a stack do container.

[2021-12-06 13:25] gabrieladamarques opened #588 "_EAP#230 Glossário"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Apoio à governança\Engajamento do público\Documentação técnica](https://projetos.esp.ce.gov.br/issues/230)

## Observações

[2021-12-06 13:25] gabrieladamarques opened #589 "_EAP#232 Manuais para pessoas desenvolvedoras"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Apoio à governança\Engajamento do público\Documentação técnica](https://projetos.esp.ce.gov.br/issues/232)

## Observações

[2021-12-06 13:26] gabrieladamarques opened #590 "_EAP#231 Tutoriais para pessoas usuárias"
## Contexto do épico
Deverá ser verificado todo o fluxo de de avaliação, análise de recursos e lançamento de resultados de um candidato participante de uma oportunidade.

## EAP
[Apoio à governança\Engajamento do público\Documentação técnica](https://projetos.esp.ce.gov.br/issues/231)

## Observações

[2021-12-06 16:43] thaistoscano commented on #531
Não foi necessário realizar essa implementação. Recursos já testados no módulo.

[2021-12-06 16:47] #531 closed, assigned to thaistoscano

[2021-12-06 17:39] thaistoscano commented on #554
Aguardando retorno da COPIS.

[2021-12-06 18:01] thaistoscano commented on #429
Já possui um API (No SACS). Para análise de UX.

[2021-12-06 18:55] RaniGub opened #591 "Pop-up de confirmação de envio de inscrição | Edital 26/2021"
## **Objetivo**

**Como** pessoa candidata no edital 26/2021
**Quero** visualizar uma mensagem de confirmação ao enviar uma inscrição
**Para** reforçar a necessidade da revisão dos dados do formulário pela pessoa usuária antes do envio da inscrição

## **Contexto**
Em função do Edital 26/2021, é preciso sanar alguns pontos de usabilidade para melhorar a experiência da pessoa candidata.

## **Escop

[2021-12-06 19:10] RaniGub opened #592 "Modificar contraste de cor do botão "Reivindicar Propriedade""
## **Objetivo**

**Como** designer
**Quero** propor a visualização do botão "Reivindicar Propriedade" com menos constraste
**Para** não entrar em conflito com a importância dos demais botões da tela

## **Contexto**
Em função do Edital 26/2021, é preciso sanar alguns pontos de usabilidade para melhorar a experiência da pessoa candidata.

## **Escopo UX**
- [x] Propor readequação de contraste de co

[2021-12-06 19:30] RaniGub opened #593 "Modificar ícone "X" (excluir) nos arquivos anexados pela pessoa usuária na oportunidade"
## **Objetivo**

**Como** pessoa candidata no edital 26/2021
**Quero** compreender claramente que a opção de 'excluir anexo' não tem relação com os ícones de mensagens de erro nos campos ou ícones de campos obrigatórios
**Para** não gerar dubiedades na minha compreensão

## **Contexto**
Em função do Edital 26/2021, é preciso sanar alguns pontos de usabilidade para melhorar a experiência da pessoa

[2021-12-06 19:38] RaniGub opened #594 "Modificar a hierarquia visual do ícone 'Meu Perfil' no menu principal"
## **Objetivo**

**Como** pessoa candidata no edital 26/2021
**Quero** visualizar com facilidade o acesso ao 'Meu Perfil'
**Para** deduzir que minhas inscrições estejam disponíveis nessa opção

## **Contexto**
Em função do Edital 26/2021, é preciso sanar alguns pontos de usabilidade para melhorar a experiência da pessoa candidata.

## **Escopo UX**
- [x] Apresentar o ícone do 'Meu Perfil' no mesmo

[2021-12-07 11:37] vicmagpac commented on #584
Atividade vinculada a issue: https://github.com/EscolaDeSaudePublica/mapadasaude/issues/593

[2021-12-07 13:33] thaistoscano opened #596 "Melhorias no recurso de uma oportunidade"
## **Objetivo**

**Como** inscrito em uma oportunidade
**Quero** abrir um recurso para cada nota (habilitação de currículo ou plano de trabalho)
**Para** recorrer de uma pontuação equivocada

## **Contexto**
1 - Atualmente o Recurso permite alterar somente a” Nota final”. Nos processos seletivos de Bolsistas da ESP, que ocorre em Etapa Única e gera duas notas (nota da Habilitação de Currículo e no

[2021-12-07 13:41] thaistoscano commented on #497
Apesar de aparecer a possibilidade de alteração, não é possível realizá-la. Por esse motivo a issue será fechada.

[2021-12-07 13:41] #497 closed, assigned to matheuscpl, thaistoscano

[2021-12-07 14:05] Junior-Shyko commented on #496
Refatorado agente: CPF, RG E ENDEREÇO. [Commit] (https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/e9567eb2d8a6eefec22efb5b7ccad20a76803cc1)

[2021-12-07 17:22] RaniGub commented on #591
Exemplo de mensagem modificado para: Você conferiu os seus dados e anexos? Ao enviar sua inscrição, essa ação não poderá ser desfeita. Você poderá conferir a qualquer momento sua inscrição em Meu Perfil>Minhas Inscrições.

[2021-12-07 18:21] Junior-Shyko commented on #496
[Commit ] (https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/5fdadf3ce5bf133a90053813fb0a19a93b19d5a1)

[2021-12-08 13:17] fernandafnascmnt commented on #545
[https://app.zenhub.com/files/319384032/df665e5a-f33b-4f6c-9627-db11eb90f58b/download](https://app.zenhub.com/files/319384032/df665e5a-f33b-4f6c-9627-db11eb90f58b/download)

[2021-12-08 13:18] fernandafnascmnt commented on #545
No link acima é possível baixar alguns PDfs gerados após alterações de melhoria

[2021-12-08 13:43] RaniGub commented on #591
Experiência revisada e inserida no Escopo.

[2021-12-08 14:32] RaniGub commented on #593
Experiência revisada. Figma inserido no Escopo.

[2021-12-08 15:35] Junior-Shyko commented on #496
Ordenação de campos e arquivos. [Commit] (https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/911a0d24c5f44160a4b516b5c63da14100d8d65a)

[2021-12-08 15:50] RaniGub commented on #594
Experiência revisada. Figma inserido no Escopo.

[2021-12-08 16:21] RaniGub commented on #592
Experiência revisada. Figma inserido no Escopo.

[2021-12-08 16:30] RaniGub commented on #591
No Figma a mensagem ficou: Você conferiu os seus dados? Ao confirmar, essa ação não poderá ser desfeita e você não conseguirá editar os dados. Você poderá verificar o status de sua inscrição em Meu Perfil>Minhas Inscrições

[2021-12-08 17:37] fernandafnascmnt commented on #545
Alterações solicitadas estão contidas no plugin [SealCertified](https://github.com/EscolaDeSaudePublica/plugin-SealCertified), no pull Request: [#545 adicionando imagem e campo de assinatura](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/tree/feature/melhoria-selos)

Aguardando aprovação d@ QA

[2021-12-08 18:39] vicmagpac opened #599 "Bug ao acessar selos como admin do selo"
## **Contexto**

Ao acessar o ambiente de homologação ou produção para gerenciar os selos, a página quebra devido a uma atualização de hooks.

### **Observação**

PR com a solução do problema: https://github.com/EscolaDeSaudePublica/mapadasaude/pull/597

[2021-12-09 13:34] thaistoscano commented on #547
Operação realizada por meio da issue https://app.zenhub.com/workspaces/mapa-da-sade---dev-60f894f541f910001066bfd9/issues/escoladesaudepublica/saude/271.

[2021-12-09 13:34] #547 closed, assigned to matheuscpl

[2021-12-09 14:06] Junior-Shyko commented on #496
Campos e arquivos ordenados devidamente no PDF. [Commit] (https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commits/feature/atualiza-campos)

[2021-12-09 18:28] Junior-Shyko commented on #496
Refatoração para múltiplos arquivos. [Commit ](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/b1a60ea8bb22a61e271bdecb1d904619e72c8925)

[2021-12-10 11:46] vicmagpac commented on #545
Atividade bloqueada aguardando a autorização e validação do setor responsável.

[2021-12-10 17:40] uira commented on #591
Fiz uma proposta alternativa no figma, se puderem dar uma olhada e refinada.

Mas acho que vale melhorar a UxWriting da parada

[2021-12-10 17:48] uira commented on #592
Fiz uma sugestão diferente no figma, Importante revisar e definir

[2021-12-10 18:31] Junior-Shyko commented on #532
Add funcao dentro da Entidade Pdf.php [Commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/18b1e715c9b320c85adbf01bd29e232ed4221672)

[2021-12-10 19:20] RaniGub commented on #592
@uira eu achei apagado, sei que sua intenção é passar desapercebido. Mas então faz sentido a opção ser "visível"? Precisamos pensar que se a pessoa deve saber que a opção existe, então ela deve estar acessível. Segui o padrão cromático proposto em outros botões.

[2021-12-13 11:57] RaniGub commented on #592
@thaistoscano foi definido por Uirá que a versão que será usada é a sugerida por ele (a mais clara).

[2021-12-13 12:16] RaniGub commented on #592
Label: #D9D9D9
Borda: #D9D9D9
Fundo: #FFFFFF

[2021-12-13 19:05] RaniGub commented on #594
@FernandaNascimento26 Escopo atualizado. Figma da sugestão 2 adicionado.

[2021-12-13 19:13] RaniGub commented on #591
Laranja mudado para o de referência do logo do Mapa #F26822. Pop-Up definido e refinado com a @thaistoscano. Figma com sugestão atualizado.

[2021-12-14 18:59] thaistoscano opened #600 "Criar limitação de inscrições por projetos"
## **Objetivo**

**Como** Dono de uma oportunidade
**Quero** criar um bloqueio por projetos
**Para** que eu possa limitar além das oportunidades

## **Contexto**
Atualmente somente existe bloqueio de inscrições por oportunidade, porém além de oportunidade é necessário que haja bloqueio por projeto. (Ex: Permissão para se inscrever em 2 oportunidade/perfis de um edital).
-

## **Critérios de Aceita

[2021-12-15 11:38] vicmagpac commented on #600
Atividade sendo implementada no repositório e na branch https://github.com/EscolaDeSaudePublica/saude/tree/feature/limite-inscricoes-projetos

[2021-12-15 11:54] lucastandy commented on #553
Atualmente, ao publicar os resultados de uma oportunidade, o candidato recebe um status que pode ser visto na sua página de acompanhamento.
É pra ser enviado e-mails para todos os tipos de status? Ex: Reprovado, Aprovado.

[2021-12-15 12:06] vicmagpac commented on #600
Baseado no alinhamento e seguindo padrão do mapas as inscrições começam a contar a partir do rascunho, ou seja, cada rascunho é uma inscrição (core mapas culturais). A implementação que está sendo realizada para os projetos está seguindo a mesma lógica estrutural do mapas de contabilizar rascunho como inscrição. Em conversa com @thaistoscano verificou-se a necessidade de um alinhamento mais refina

[2021-12-15 12:14] RaniGub commented on #537
@uira @victorMagalhaesPacheco vamos conversar sobre a proposta e viabilidade.

[2021-12-15 13:15] thaistoscano opened #601 "Revisão do texto do e-mail de cadastro em oportunidade"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** quero melhorias no e-mail de confirmação de inscrição
**Para** que fique mais claro e instrutivo

## **Contexto**
Modificação na proposta atual enviada pelo Mapa. Melhorias serão adicionadas como sugestão nos comentários.

## **Critérios de Aceitação**

- [ ] Melhoria do texto de recebimento de inscrição do candidato

# Observações

ex:

[2021-12-15 13:15] thaistoscano commented on #601
Olá!

Confirmamos sua inscrição na Oportunidade: Novo Teste - Edital 26/2021 - Área de Atuação I: Design de Experiência / Interface do Usuário.

Nome do Candidato: Clarisse Castro Cavalcante
Número de inscrição: #on-854357654

Acompanhe novidades sobre sua inscrição em nossa plataforma.

Obrigado!

Mapa da Saúde

https://mapa.sus.ce.gov.br (link que vá para a página de acompanhamento do candidato)

[2021-12-15 14:15] thaistoscano opened #602 "E-mail para rascunhos antes da finalização das inscrições"
## **Objetivo**

**Como** administrador de uma oportunidade
**Quero** que os candidatos inscritos que estejam em rascunho recebam uma mensagem para concluírem sua inscrição
**Para** que não percam o prazo de término das inscrições

## **Contexto**
Atualmente os candidatos com inscrições como rascunho não recebem nenhum alerta do sistema comunicando que os candidatos finalizem suas inscrições.

##

[2021-12-15 18:31] RaniGub commented on #537
Dia 15/12/21 foi realizado alinhamento com Uirá para algumas definições. Pela tarde, conversei com @matheuscpl sobre uma nova proposta com base nesse protótipo em baixa https://www.figma.com/file/CNJ0jcDcBwpcpbWbfBaIlb/Mapa-Digital?node-id=0%3A1
Acordamos pare refinar a partir da base para evitar retrabalhos. Uma proposta em baixa foi solicitada e tem projeção para revisão por pares em 20/12/2021.

[2021-12-15 18:45] RaniGub commented on #545
@matheuscpl acabamos de ter atualização sobre a tarefa. Essa vai continuar como está. A @thaistoscano irá criar uma nova Issue para que seja proposto o modelo padrão para validação com a ASCOM/ESP.

[2021-12-16 12:10] thaistoscano commented on #602
@matheuscpl ajustar figma para a aba "principal", já que essa funcionalidade não deve ficar junto à avaliação.

[2021-12-16 12:20] matheuscpl commented on #512
Não há necessidade de protótipação.

[2021-12-16 12:20] matheuscpl commented on #513
Não há necessidade de prototipação

[2021-12-16 12:36] thaistoscano opened #604 "Criar novo modelo de declaração - Padrão ESP"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** gerar novo modelo de declaração em padrão ESP
**Para** certificar uma oportunidade

## **Contexto**
Criar novo modelo de declaração a ser emitido para o mapa. Deverá ser nomeado de "Declaração - Padrão ESP"
-

## **Critérios de Aceitação**

- [ ] Criar novo modelo de declaração de acordo com modelos ESP

# Observações

ex: https://www.fi

[2021-12-16 12:37] thaistoscano commented on #604
Modelo fornecido pela ASCOM
[https://app.zenhub.com/files/319384032/3063dc21-b605-4c88-86b3-4c7cf384f0c2/download](https://app.zenhub.com/files/319384032/3063dc21-b605-4c88-86b3-4c7cf384f0c2/download)

[2021-12-16 12:44] thaistoscano commented on #492
Atividade foi inserida em nova proposta. Contemplada na issue https://app.zenhub.com/workspaces/mapa-da-sade---refinamento-610039a15670a0000e67211f/issues/escoladesaudepublica/mapadasaude/584

[2021-12-16 12:44] #492 closed, assigned to thaistoscano

[2021-12-16 13:45] thaistoscano opened #605 "Melhorias na interface do IDSaúde"
## **Objetivo**

**Como** gestor
**Quero** realizar melhorias
**Para** o acesso do usuário

## **Contexto**
Melhorias na interface do IDSaúde. Realizar as retiradas e mudança de posição do Saiba Mais. Seguem prints nos comentários.
-

## **Critérios de Aceitação**

- [ ] Retirar os itens gerenciamento de acesso e identidade / idsaúde.
- [ ] Mudança no local do botão Saiba Mais (2 locais).
- [ ] Re

[2021-12-16 14:38] fernandafnascmnt commented on #545
Passou pelo Review QA E Disponível para code Review em : https://github.com/EscolaDeSaudePublica/plugin-SealCertified/pull/2

[2021-12-16 16:54] thaistoscano commented on #605
![photo4972502544928581934.jpg](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/23808b06-3ca5-4101-80cf-d68097d5ff85)

[2021-12-16 17:09] thaistoscano opened #606 "Unificar campo do Nome/Sobrenome para Nome Completo no IDSaúde"
## **Objetivo**
**Como** gestor do Mapa da saúde
**Quero** realizar melhorias
**Para** o acesso do usuário

## **Contexto**
Atualmente, quando o usuário acessa a página de login através do ID Saúde, para o campo de preenchimento do nome existem dois campos (Nome e Sobrenome), os quais devem ser unificados em um único campo.

## **Escopo DEV**
- Unificar os campos nome/sobrenome na tela inicial de

[2021-12-16 17:18] #593 closed, assigned to vicmagpac

[2021-12-16 17:19] #599 closed, assigned to vicmagpac

[2021-12-16 17:19] #600 closed, assigned to vicmagpac, thaistoscano

[2021-12-16 17:28] thaistoscano opened #607 "Modificar lógica da contagem de inscrições por projeto"
## **Objetivo**

**Como** administrador da oportunidade
**Quero** modificar a lógica contagem
**Para** que os rascunhos não contem no limite do projeto

## **Contexto**
Está implementado a contagem por projetos, porém ele leva em consideração também os rascunhos. Deve ser alterada a lógica dos rascunhos (SOMENTE NA CONTAGEM DOS PROJETOS). Dentro de cada oportunidade deve continuar sendo contado da

[2021-12-16 18:07] thaistoscano opened #608 "Criar relatórios por projetos (e não apenas por oportunidades)"
## **Objetivo**

**Como** Gestor (GTSESP)
**Quero** Acessar um relatório completo consolidado de dado projeto.
**Para** Visualizar o resultados obtidos por todas as oportunidades do referido projeto

## **Contexto**
Atualmente, não há opção de serem gerados relatórios completos de um projeto, somente é possível gerar relatórios individuais de cada oportunidade, impossibilitado uma visão geral dos

[2021-12-16 19:07] thaistoscano opened #609 "Enviar declarações/certificados pelo Mapa para os participantes dos eventos"
## **Objetivo**
**Como** administrador de uma oportunidade
**Quero** poder enviar declarações/certificados
**Para** candidatos específicos de uma oportunidade

## **Contexto**
Após a participação dos candidatos em uma oportunidade, como administrador, quero poder definir os selos para os candidatos selecionados e, posteriormente, definir para qual status dos inscritos serão enviados os seus certif

[2021-12-16 19:41] thaistoscano opened #610 "Corrigir bug que não permite "Salvar para depois""
## **Objetivo**

**Como** usuário
**Quero** salvar uma inscrição para depois
**Para** não perder minhas informações preenchidas

## **Contexto**
Como usuária do mapa quero salvar minha inscrição que está incompleta, porém o sistema não permite pelos campos serem obrigatórios, porém o intuito de salvar como rascunho é salvar de forma incompleta para depois.
-

## **Critérios de Aceitação**

- [ ] C

[2021-12-16 20:13] vicmagpac opened #611 "Implementação dashboard para acompanhamento de inscrições nos projetos e oportunidades"
## **Objetivo**

**Como** administrador do mapa da saúde
**Quero** ter uma visão geral em forma de dashboard (gráficos) dos projetos e oportunidades
**Para** acompanhar em tempo real a situação dos projetos

## **Contexto**

- Acesso em tempo das inscrições por projetos e oportunidades

## **Fora de Escopo**

- Não se aplica

## Indicadores

- Quantidade oportunidade no mapas
- Quantidade de inscr

[2021-12-17 12:59] vicmagpac commented on #533
Observações:

@pedrovitor074
O pesos estão permitindo notas acima do permitido e definido para o critério. Necessário realizar ajustes na validação .
![image](https://user-images.githubusercontent.com/3487411/146548119-496f4f41-1cab-4694-8017-e5a52a6022d8.png)

[2021-12-17 13:00] thaistoscano commented on #594
Pronto para produção.

[2021-12-17 13:01] thaistoscano commented on #496
Pronto para produção.

[2021-12-17 13:11] vicmagpac commented on #533
Observações:

A notas das avaliações devem ter 2 casas decimais. Por exemplo: 91.42.
![image](https://user-images.githubusercontent.com/3487411/146549650-32525d90-1fe1-4b8a-82ef-a36b230c864b.png)

[2021-12-17 13:27] vicmagpac commented on #496
@Junior-Shyko os campos de anexos devem aparecer referente a categoria selecionada pelo inscrito.

[2021-12-17 15:40] matheuscpl commented on #610
Não há necessidade de protótipo

[2021-12-17 15:41] matheuscpl commented on #607
Não há necessidade de protótipo

[2021-12-20 12:20] thaistoscano commented on #514
Implentação realizada em outro formato, de acordo com a issue: https://app.zenhub.com/workspaces/mapa-da-sade---dev-60f894f541f910001066bfd9/issues/escoladesaudepublica/mapadasaude/591

[2021-12-20 12:20] #514 closed, assigned to matheuscpl, thaistoscano

[2021-12-20 13:16] vicmagpac commented on #533
A validação dos critérios acontecem através de hooks dentro do tema. Foi adicionado mais uma condição agora para a 'technicalna' e avalidação funcionou bem.

[2021-12-20 13:17] vicmagpac commented on #533
Foi realizado o tratamento dentro do plugin para adicionar casas decimais de no máximo 2, seguindo o padrão do mapas.

[2021-12-20 18:02] thaistoscano commented on #554
Informado pelo Daniel em 20/12 que existirão modificações no modelo, desta forma, não entrará na sprint de 20/12.

[2021-12-20 18:03] thaistoscano commented on #604
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/604?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-12-20 18:04] thaistoscano commented on #604
@matheuscpl Voltar para o texto anterior, está substituído pelo do Cuidar Melhor.

[2021-12-20 18:27] thaistoscano commented on #609
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/609?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-12-20 18:30] thaistoscano commented on #609
Parte da funcionalidade já existe, mas não está disponível. Quem pegar a atividade deve verificar a funcionalidade interna no Core do Mapas para realizar a implementação.

[2021-12-20 18:30] thaistoscano commented on #607
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/607?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2021-12-20 18:36] #592 closed, assigned to FernandaNascimento26

[2021-12-20 19:45] Junior-Shyko commented on #496
Mostrar seção ou campos apenas os que são pertinente a inscrição do candidato. Atualmente está mostrando todos.

[2021-12-20 22:13] Junior-Shyko commented on #496
[Commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/5ecc3756a86f3de5909ac3501c499b7d6e14c843)

[2021-12-21 13:16] thaistoscano opened #614 "Melhorar visualização do botão "Imprimir Ficha de Inscrição""
## **Objetivo**

**Como** usuário do mapa
**Quero** visualizar com mais facilidade o botão de imprimir minha ficha de inscrição
**Para** guardar esse arquivo

## **Contexto**
Foi solicitado pelo GTCESP melhoria na localização do botão imprimir ficha de inscrição para que o candidato o localize com maior facilidade.
-

## **Critérios de Aceitação**
- [ ] Inclusão do botão também na parte superior d

[2021-12-21 13:32] thaistoscano opened #615 "Ocultar status da Inscrição para o candidato"
## **Objetivo**

**Como** dono de uma oportunidade
**Quero** que o candidato não visualize os status
**Para** não ficar confuso com as informações

## **Contexto**
Atualmente é visível o status para o candidato e alguns termos como "pendente" causam dúvida no candidato se faltou enviar algo ou o que está ocasionando a pendência. Já existem legendas no Mapa para cada status, mas ainda assim os cand

[2021-12-21 16:58] #611 closed, assigned to vicmagpac

[2021-12-21 17:16] #594 closed, assigned to FernandaNascimento26

[2021-12-21 17:16] #545 closed, assigned to FernandaNascimento26

[2021-12-21 17:16] #591 closed, assigned to FernandaNascimento26

[2021-12-21 17:16] #533 closed, assigned to vicmagpac, pedrovitor074, lucastandy

[2021-12-21 17:19] fernandafnascmnt commented on #604
@matheuscpl poderia fornecer essa imagem do rodapé?

[2021-12-21 17:22] #566 closed, assigned to vicmagpac, pedrovitor074

[2021-12-21 17:22] #565 closed, assigned to vicmagpac

[2021-12-21 17:23] #584 closed, assigned to vicmagpac

[2021-12-21 17:24] #557 closed, assigned to Junior-Shyko

[2021-12-21 18:53] #463 closed, assigned to Junior-Shyko, matheuscpl, thaistoscano

[2021-12-21 19:00] thaistoscano commented on #553
@matheuscpl O candidato não deve mais receber os status, conforme conversamos hoje, favor fazer o ajuste.

[2021-12-21 20:03] fernandafnascmnt commented on #604
@matheuscpl poderia fornecer a logo da escola em boa qualidade?

[2021-12-22 11:38] lucastandy commented on #553
Em reunião de alinhamento, foi verificado a necessidade de realizar os seguintes ajustes:
* Ajustar pequenos detalhes no layout do e-mail, conforme ao protótipo no figma;
* Adicionar uma verificação para saber se os e-mails foram disparados ou não;
* Criar uma branch develop no repositório do plugin

[2021-12-22 19:01] Junior-Shyko commented on #604
1. Add na url o id do layout criptografado.
2. Os layouts deve ser criado com o mesmo nome que está na tabela term campo term
3. Controlador dentro do plugin para gerar as rotas.
4. Add uma rota no botão imprimir do candidato (_sealCertified/gerarSelo/id_relacao/layout/id_layout_)

[2021-12-22 22:01] Junior-Shyko commented on #604
[Commit ](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/commit/4b04d86dd18c99143077eb85ec19797970cea6ec) do plugin

[2021-12-23 03:34] Junior-Shyko commented on #604
Criado as views e gerando layout pelo controlador.[ Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/commit/d49f358bd080141c062379661b0f03d02b2dce6b)

[2021-12-23 11:46] thaistoscano commented on #476
Card sem contexto. Em reunião com a equipe foi decidido pela exclusão.

[2021-12-23 11:46] #476 closed, assigned to nobody

[2021-12-23 11:47] thaistoscano commented on #57
Card sem contexto. Em reunião com a equipe foi decidido pela exclusão.

[2021-12-23 11:47] #57 closed, assigned to rafaelmassuncao

[2021-12-23 11:51] thaistoscano commented on #18
Já existe um épico contemplando a integração com o SACs e não está contemplado na EAP a integração com o sistema de eventos.

[2021-12-23 11:51] #18 closed, assigned to Junior-Shyko, rafaelmassuncao

[2021-12-23 11:51] thaistoscano commented on #140
Card sem contexto. Em reunião com a equipe foi decidido pela exclusão.

[2021-12-23 11:51] #140 closed, assigned to nobody

[2021-12-23 11:54] thaistoscano commented on #170
Contemplado na issue: https://github.com/EscolaDeSaudePublica/Saude/issues/100

[2021-12-23 11:54] #170 closed, assigned to nobody

[2021-12-23 11:55] thaistoscano commented on #133
Card sem contexto. Em reunião com a equipe foi decidido pela exclusão.

[2021-12-23 11:55] #133 closed, assigned to nobody

[2021-12-23 11:58] thaistoscano commented on #32
Já existe um épico desta integração

[2021-12-23 11:58] #32 closed, assigned to nobody

[2021-12-23 12:02] thaistoscano commented on #29
Tramitação já acontece pelo board do Administrativo
https://trello.com/c/K5AjtJwd/30-204-2020-of%C3%ADcio-processo-04551105-2020-of%C3%ADcio-2042020-cria%C3%A7%C3%A3o-de-novos-dom%C3%ADnios-para-projetos-de-inova%C3%A7%C3%A3o

[2021-12-23 12:02] #29 closed, assigned to Marceloalcantara

[2021-12-23 12:03] thaistoscano commented on #25
Já existe um épico contemplando a integração com o SAGU.

[2021-12-23 12:03] #25 closed, assigned to nobody

[2021-12-23 12:05] thaistoscano commented on #23
Card sem contexto. Em reunião com a equipe foi decidido pelo fechamento.

[2021-12-23 12:05] #23 closed, assigned to nobody

[2021-12-23 12:06] thaistoscano commented on #15
Já existe épico contemplando a integração com CNES e SAGU.

[2021-12-23 12:06] #15 closed, assigned to nobody

[2021-12-23 12:13] thaistoscano commented on #22
Card sem contexto. Em reunião com a equipe foi decidido pelo fechamento.

[2021-12-23 12:13] #22 closed, assigned to nobody

[2021-12-23 12:14] thaistoscano commented on #21
Card sem contexto. Em reunião com a equipe foi decidido pelo fechamento.

[2021-12-23 12:14] #21 closed, assigned to nobody

[2021-12-23 12:15] thaistoscano commented on #19
Card sem contexto. Em reunião com a equipe foi decidido pelo fechamento.

[2021-12-23 12:15] #19 closed, assigned to nobody

[2021-12-23 12:16] thaistoscano commented on #3
O sistema já está realizando logout. Não foi localizada a issue que contemplou esse ajuste.

[2021-12-23 12:16] #3 closed, assigned to Junior-Shyko

[2021-12-23 12:18] thaistoscano commented on #36
Já existe a validação de CPF, porém ainda é possível ter vários cadastros em um mesmo CPF (para esse segundo já existe uma issue: https://app.zenhub.com/workspaces/mapa-da-sade---refinamento-610039a15670a0000e67211f/issues/escoladesaudepublica/mapadasaude/498)

[2021-12-23 12:18] #36 closed, assigned to nobody

[2021-12-23 12:24] thaistoscano commented on #4
Card sem contexto. Em reunião com a equipe foi decidido pelo fechamento.

[2021-12-23 12:24] #4 closed, assigned to Junior-Shyko

[2021-12-23 12:24] thaistoscano commented on #5
Card sem contexto. Em reunião com a equipe foi decidido pelo fechamento.

[2021-12-23 12:24] #5 closed, assigned to nobody

[2021-12-23 12:26] thaistoscano commented on #6
Já foi realizada essa alteração. Issue: https://github.com/EscolaDeSaudePublica/Saude/issues/66

[2021-12-23 12:26] #6 closed, assigned to nobody

[2021-12-23 12:31] thaistoscano commented on #17
Estão contempladas as integrações. Algumas delas estão na EAP e outras estão despriorizadas e não estão na EAP.

[2021-12-23 12:31] #17 closed, assigned to nobody

[2021-12-23 12:32] thaistoscano commented on #7
Já existe essa implementação, o candidato só visualiza sua nota após publicação.

[2021-12-23 12:32] #7 closed, assigned to nobody

[2021-12-23 12:35] thaistoscano commented on #14
Foi realizada a implementação dos indicadores, porém está suprimido atualmente.
https://app.zenhub.com/workspaces/mapa-da-sade---dev-60f894f541f910001066bfd9/issues/escoladesaudepublica/saude/272

[2021-12-23 12:35] #14 closed, assigned to camilaccolares

[2021-12-23 12:36] thaistoscano commented on #10
Atividade de gestão. Não será tramitada pelo Zenhub.

[2021-12-23 12:36] #10 closed, assigned to Junior-Shyko

[2021-12-23 12:38] thaistoscano commented on #9
Refere-se ao treinamento realizado pelo @Junior-Shyko . Não será tramitado pelo board do Zenhub.

[2021-12-23 12:38] #9 closed, assigned to Junior-Shyko, rafaelmassuncao

[2021-12-23 12:41] thaistoscano commented on #8
Já está criada essa área. Issue: https://github.com/EscolaDeSaudePublica/mapadasaude/issues/127

[2021-12-23 12:41] #8 closed, assigned to Junior-Shyko

[2021-12-23 18:22] Junior-Shyko commented on #604
[Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/commit/0475dabf740b10c217d0357a9166bc03b33ff506) com atualização do plugin.

Precisa adicionar
[code]
Dentro do arquivo _seal-model--content.php_ em layouts/parts.
Avaliar PR para o repositório do MapasCulturais.

[2021-12-27 14:00] Junior-Shyko commented on #604
Update - [Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/commit/54c920dfb908f929f2023c7bfa21d66991cb4550)

[2021-12-27 19:48] Junior-Shyko commented on #604
Update - [Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/commit/12e921bcea048310f5c5f308527c4afa893a3976)

[2021-12-29 18:33] RaniGub commented on #537
Dia 23/12/21 o @matheuscpl apresentou o conceito inicial após primeiro refinamento. Alguns pontos foram propostos para uma nova apresentação na primeira semana de Janeiro/2022.

[2021-12-29 18:38] RaniGub commented on #546
A seção de indicadores está passando por uma reestruturação pelo time da Ciência de Dados. Logo seja concluída, esta tarefa passará pela validação.

[2022-01-05 11:45] thaistoscano commented on #605
Alterar Sobrenome para Sobrenome completo
![image.png](https://images.zenhubusercontent.com/6140f6973ff8904a055e7b0e/3ade48b7-10e7-4a2a-acfd-a3f4138e0387)

[2022-01-05 11:49] thaistoscano commented on #605
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/605?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-05 11:53] thaistoscano commented on #610
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/610?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-05 11:55] thaistoscano commented on #555
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/555?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-05 11:58] thaistoscano commented on #601
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/601?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-05 12:01] thaistoscano commented on #602
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/602?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-05 13:53] thaistoscano commented on #553
Foi retirada a visualização do status por solicitação do GTCESP. Assim sendo, não cabe realizar essa issue que envia e-mail informando o status.

[2022-01-05 13:53] #534 closed, assigned to thaistoscano

[2022-01-05 13:53] thaistoscano commented on #534
Já foi testada essa demanda. Média ponderada já está sendo calculada.

[2022-01-05 17:16] fernandafnascmnt commented on #604
@Wanderley97 , algumas considerações para geração de declaração por meio do selo

Para gerar uma declaração por meio do selo, é necessário que selecionado o modelo, disponível na aba **Modelos** (atualmente só temos o modelo **Declaração ESP)

Também é necessário selecionar o **Layout** disponível na mesma aba (atualmente temos o **Certificado Padrão da ESP** e o **Certificado Padrão do Cuidar Mel

[2022-01-05 17:17] fernandafnascmnt commented on #604
![Screenshot from 2022-01-05 14-00-16.png](https://images.zenhubusercontent.com/6107f7497cd3e401e98eca0e/2be3d1e0-f3f8-4078-bdb9-8e13e646e0be)

[2022-01-05 17:28] fernandafnascmnt commented on #604
Modelo de formatação ideal para OFICINA DE COLETA DE DADOS
PARA A IMPLANTAÇÃO DA VIGILÂNCIA DOS FATORES DE
RISCO E PROTEÇÃO PARA AS DOENÇAS CRÔNICAS NÃO
TRANSMISSÍVEIS (DCNT)
[https://app.zenhub.com/files/319384032/dd6a24b9-c170-4444-b431-e27d19668fc3/download](https://app.zenhub.com/files/319384032/dd6a24b9-c170-4444-b431-e27d19668fc3/download)

[2022-01-05 19:18] thaistoscano commented on #605
Usar como base as figuras inseridas, pois o figma não está atualizado.

[2022-01-07 12:15] RaniGub opened #619 "Melhoria na disponibilização do arquivo do edital ou link do edital na oportunidade"
## **Objetivo**

**Como** gestor
**Quero** disponibilizar melhoria de visualização do edital na oportunidade vigente para a pessoa usuária
**Para** facilitar o acesso às informações

## **Contexto**

A visualização não é adequada com a solução que temos atualmente. É importante que experimentos de experiência sejam realizados para se chegar ao consenso mais adequado.

## **Escopo UX
- [x] Disponib

[2022-01-07 12:17] RaniGub commented on #619
Atualização: Links retirados, não pertenciam a issue.

[2022-01-07 13:39] uira commented on #619
@RaniGub Isso já é possível. Basta adicionar o arquivo do Edital a cada uma das oportunidades.

@HelenHilario e Thais , podemos solicitar à Cecilia pra fazer isso? ainda temos banco de horas com ela, né?

[2022-01-07 14:04] thaistoscano commented on #619
Estamos nos referindo ao edital 26? Lá nas oportunidades a Cecília já inseriu o edital em todas as oportunidades. Talvez seja importante mudarmos a configuração para que fique com maior destaque @RaniGub

[2022-01-07 14:14] RaniGub commented on #619
@uira conversei agora com a @thaistoscano e concordamos que o lugar que está disponível a opção não é o mais adequado. Vamos editar a issue para melhoria de visualização da opção.

[2022-01-10 11:44] thaistoscano commented on #609
@lucastandy Listar selos que estão vinculados a oportunidade para que sejam aplicados.

[2022-01-10 11:47] pedrovitor074 commented on #530
Enviado para produção, junto a correção de relatório para oportunidades do tipo homologação.

[2022-01-10 11:54] MayaraMonte opened #620 "Substituir Concessão OAuth"
## **Objetivo**

**Como** gestor
**Quero** usar uma linguagem que a pessoa usuária possa entender com facilidade
**Para** não gerar dúvidas ou inseguranças no que ela está fazendo/aceitando

## **Contexto**

Durante os testes notamos que ao cadastrar-se no IdSaúde, algumas pessoas sentiram-se inseguras em aceitar ou não a Concessão OAuth por não saber o que estavam aceitando, é necessário substitu

[2022-01-10 11:56] thaistoscano commented on #609
@lucastandy Alinhar com a infra sobre a quantidade de e-mails permitidas por minuto.

[2022-01-10 11:57] thaistoscano commented on #602
Alinhar com a infra sobre a quantidade de e-mails permitidas por minuto.

[2022-01-10 12:15] thaistoscano commented on #620
@RaniGub @MayaraMonte Se colocarmos em homologação a versão da produção resolveria?

[2022-01-10 12:42] Junior-Shyko commented on #620
Lembrando que o termo Concessão OAuth só aparece no servidor de homologação que o mesmo está diferente do servidor de produção.

[2022-01-10 12:42] Junior-Shyko commented on #620
### Servidor de Homologação
![image](https://user-images.githubusercontent.com/7341117/148767651-f29edb19-409b-4900-adf5-02d4ecfd4225.png)

[2022-01-10 12:43] Junior-Shyko commented on #620
### Servidor de Produção
![image](https://user-images.githubusercontent.com/7341117/148767759-4d6a7dd8-d09b-4812-8770-c11c7695f3b1.png)

[2022-01-10 12:45] Junior-Shyko commented on #620
Issue contemplada em Sprint
[Link da Issue](https://github.com/EscolaDeSaudePublica/mapadasaude/issues/463)

[2022-01-10 13:03] MayaraMonte opened #621 "Mensagem para informar mudança de página"
## **Objetivo**

**Como** gestor
**Quero** melhorar a experiência de redirecionamento de páginas durante a inscrição
**Para** evitar que a pessoa usuária fique sem entender o que está acontecendo caso saia da página de inscrição por acidente

## **Contexto**

Durante os testes ao clicar sem querer no nome do agente responsável a pessoa é direcionada para outra página e não recebe aviso de que está

[2022-01-10 13:30] MayaraMonte opened #622 "Indicação visual dos campos pendentes quando enviar a inscrição"
## **Objetivo**

**Como** gestor
**Quero** melhorar a indicação visual de pendências de documentos ou informações obrigatórias
**Para** que a pessoa consiga identificar com a facilidade o que está faltando para finalizar a inscrição

## **Contexto**

No momento do teste quando a pessoa clicou em 'Enviar inscrição' apareceu um pop-up de erro (sem nada escrito). Levou um tempo até a pessoa perceber

[2022-01-10 13:48] RaniGub commented on #620
Olá Thaís, sim, acabei de fazer um teste na produção e ela poderia ser aplicada no ambiente de homologação, no escopo da tarefa faltou essa observação, irei criar. Precisamos que os dois ambientes estejam com as mesmas soluções implementadas devido aos testes.

[2022-01-10 13:54] MayaraMonte opened #623 "Revisar aviso de "Inscrição enviada""
## **Objetivo**

**Como** gestor
**Quero** melhorar a mensagem de confirmação de inscrição
**Para** que a pessoa usuária possa ter a certeza que finalizou a inscrição com sucesso

## **Contexto**

Durante o teste identificamos uma dificuldade na visualização do aviso de confirmação de inscrição pois o mesmo possui uma relação de contraste muito baixa entre tipografia e plano de fundo, além do corp

[2022-01-10 14:38] MayaraMonte opened #624 "Modificar tag do botão 'Baixar planilha'"
## **Objetivo**

**Como** gestor
**Quero** ajustar um erro na função do botão "baixar"
**Para** que a pessoa consiga baixar o item correto

## **Contexto**

Durante o teste a pessoa clicou no botão 'Visualizar Portfólio' e foi encaminhada para uma planilha do excel que difere do arquivo que havia sido feito o upload. Aparecendo o nome 'Baixar Planilha' ao invés de 'Baixar Arquivo'. O arquivo baixa

[2022-01-10 16:16] MayaraMonte opened #625 "Notificação de inscrição por e-mail"
## **Objetivo**

**Como** gestor
**Quero** melhorar a experiência pós inscrição em uma oportunidade
**Para** facilitar o acesso às informações de status de inscrição

## **Contexto**
Atualmente ao finalizar a inscrição em uma oportunidade a pessoa precisa fazer o resgate em 'Minhas Inscrições' no menu principal, durante o teste percebemos que essa ação não é feita de modo intuitivo e a pessoa fica

[2022-01-10 16:48] MayaraMonte opened #626 "Solução com explicação para as opções de gênero"
## **Objetivo**

**Como** gestor
**Quero** fornecer informações mais claras sobre opções de gênero
**Para** para que não haja dúvidas no momento da inscrição

## **Contexto**
Durante os testes houveram hesitações no momento de informar qual era a sua opção entre as Opções de Gênero, provavelmente porque alguns termos ainda não são de domínio público ou de uso cotidiano. É necessário criar uma solu

[2022-01-10 17:13] RaniGub commented on #626
É importante que a @Clarisse1983 participe dessa solução. A sugestão é um ícone para infos ao lado do campo/título (modal) com as informações. @matheuscpl deve avaliar.

[2022-01-10 19:14] fernandafnascmnt commented on #605
Atividade realizada no Repositório do IDSaude [PR da atividade](https://github.com/EscolaDeSaudePublica/IdentidadeUnicaDeSaude/pull/62)

[2022-01-12 11:24] thaistoscano commented on #620
Dessa forma, não há necessidade de protótipo.

[2022-01-12 11:30] thaistoscano commented on #623
@RaniGub coloca o print, por favor.

[2022-01-12 11:49] lucastandy commented on #609
@RaniGub, verificar o texto no corpo do e-mail.

[2022-01-12 12:31] RaniGub commented on #623
![Captura de Tela 2022-01-12 às 09 31 00](https://user-images.githubusercontent.com/79097920/149140822-7e03dbbd-08f3-4442-97df-27ca6a53ae15.png)

[2022-01-12 12:34] RaniGub commented on #624
![Captura de Tela 2022-01-12 às 09 34 19](https://user-images.githubusercontent.com/79097920/149141244-df420feb-9ef7-498e-bc0e-d7542b76ea53.png)

[2022-01-12 12:35] RaniGub commented on #624
Essa opção aparece quando você finaliza uma inscrição e clica no botão 'Visualizar Portfólio'

[2022-01-12 12:47] RaniGub commented on #624
O @pauloamoreira levantou a possibilidade desse botão ser um legado do Mapa da Cultura, quando se clica para ver o Portfólio a pessoa deveria ser encaminhada para vídeos e a galeria do Artista. @thaistoscano você pode parear com ele essa tarefa? É preciso entender melhor o contexto.
Atualmente o botão 'Visualizar Portfólio' aparece no comprovante de inscrição mesmo sem a oportunidade requerer que

[2022-01-12 13:31] thaistoscano opened #629 "Criar botão que possibilite alterar inscrições"
## **Objetivo**

**Como** pessoa usuária
**Quero** editar minha inscrição
**Para** substituir/corrigir alguma informação

## **Contexto**
Atualmente no Mapa quando a inscrição é enviada não é possível alterar, sem que ela seja passada pra rascunho. A ideia é que seja criado um botão que, uma vez que o edital esteja aberto seja possível você alterar sua inscrição sem que seja passada para rascunho.

[2022-01-12 13:53] pedrovitor074 commented on #604
Update - Correção de problema quando o usuário não estava logado no sistema.  - [Commit](https://github.com/EscolaDeSaudePublica/plugin-SealCertified/commit/e0fb5a3de6e8f63af974cf8548c368c82d80e038)

[2022-01-12 16:27] RaniGub commented on #609
@lucastandy você pode parear comigo agora para eu entender o contexto do texto no qual você se refere? Se for o corpo do e-mail onde a declaração/certificado será enviado ao participante deve ser visto com a @Clarisse1983

[2022-01-12 16:35] fernandafnascmnt commented on #605
Atividade já se encontra em produção devido a falta de alinhamento entre homologação e produção por parte do IDSaúde. As alterações podem ser verificadas em:
[Página de login do Mapa da Saúde](https://id.sus.ce.gov.br/auth/realms/saude/protocol/openid-connect/auth?client_id=mapadasaudeproducao&redirect_uri=https%3A%2F%2Fmapa.sus.ce.gov.br%2Fautenticacao%2Fkeycloak%2Foauth2callback&response_type=co

[2022-01-12 17:44] pauloamoreira commented on #629
@thaistoscano boards com as indicações de aplicação da funcionalidade de 'Edição da Inscrição' (durante o período de inscrição) estão disponíveis nas observações desta tarefa.

[2022-01-12 19:45] RaniGub commented on #629
Solução em análise.

[2022-01-13 03:58] RaniGub opened #630 "Revisar experiência de resgate de uma inscrição de oportunidade no rascunho"
## **Objetivo**

**Como** gestor do Mapa
**Quero** ajustar a experiência numa oportunidade no rascunho
**Para** a pessoa conseguir editar e enviar de forma mais intuitiva

## **Contexto**

Após a reabertura da inscrição em uma oportunidade, a pessoa conseguirá resgatar sua inscrição do rascunho.

## **Escopo UX
- [x] Sugerir proposta de modificação nas telas onde a pessoa tem acesso à edição da in

[2022-01-13 12:47] MayaraMonte commented on #623
Protótipo atualizado: https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/?node-id=1999%3A1389

[2022-01-13 12:48] MayaraMonte commented on #621
Protótipo atualizado: https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/?node-id=2041%3A1569

[2022-01-13 13:08] RaniGub commented on #623
Protótipo validado.

[2022-01-13 13:12] ClarisCaval commented on #626
Gente, tinha uma tarefa bem parecida no board do Mapa da Saúde, e fiz essa proposta de textos, com possibilidade de desdobrar para um 'Saiba mais':
https://docs.google.com/document/d/1U_GUrBsm99hzjbp-W2z5bjDbUqKl776LYX7RFL6AeQc/edit

[2022-01-13 13:14] ClarisCaval commented on #609
Não entendi bem qual a demanda. Vcs querem um texto genérico alertando para disponibilidade de declaração/certificado para todos os eventos oportunizados pelo Mapa?

[2022-01-13 13:23] RaniGub commented on #621
Protótipo validado.

[2022-01-13 13:38] RaniGub commented on #609
@lucastandy qual será a jornada de acesso aos certificados? Já está traçada? Porque esse exemplo enviado pela @Clarisse1983 poderia ser adaptado.
_______________________
Olá, como está você?

Temos uma boa notícia! Sua declaração de participação na 1ª Oficina de Design de Serviços Públicos, realizada nos dias 11 a 13 de agosto de 2021, está disponível no Mapa da Saúde!

Para acessá-la, será necess

[2022-01-13 13:43] lucastandy commented on #609
@RaniGub, a ideia é disparar os e-mails uma única vez. O selo/certificado será enviado pro e-mail do candidato.

[2022-01-13 13:59] RaniGub commented on #609
Entendi, então acho que é só adaptar o corpo mesmo. De qualquer forma vou colocar na agenda uma tarefa sugerindo a jornada e experiência para resgate de documentos do Agente pelo Mapa da Saúde. Obg ;)

[2022-01-13 14:23] ClarisCaval commented on #609
@lucastandy
Olá, como vai?

Temos uma declaração para você, por sua participação em uma oportunidade no Mapa da Saúde.

Novas oportunidades surgem o tempo inteiro em nossa plataforma. Fique de olho e acesse!

Atenciosamente,

[2022-01-13 16:15] RaniGub commented on #629
@pauloamoreira trouxe novas informações após pareamento com a @thaistoscano. Com base nisso foram acrescentadas condicionais no Fluxo para situações onde a oportunidade permitir mais de uma inscrição na mesma categoria/perfil.

Thaís apontou que a situação ideal é o substituição/edição dos dados de uma inscrição já enviada aconteça automaticamente no momento da edição pela pessoa, sem a necessidad

[2022-01-13 16:43] RaniGub opened #631 "Sincronizar campos de opções presentes no menu 'Meu Perfil' e Menu lateral esquerdo"
## **Objetivo**

**Como** desenvolvedor
**Quero** fazer com que as opções presentes nos menus sejam as mesmas
**Para** para não confundir as pessoas

## **Contexto**
Foi observado que as opções de menu disponíveis no menu 'Meu Perfil' e menu lateral esquerdo (quando é acessada uma seção) divergem no Mapa da Saúde.

## **Escopo UX
- [x] Apontar o local e propor a solução

## **Escopo DEV
- [ ] Sint

[2022-01-13 18:41] RaniGub opened #632 "Dispor de solução para resgate de certificado/declaração via Mapa da Saúde"
## **Objetivo**

**Como** pessoa usuária
**Quero** resgatar os certificados/declarações emitidos numa oportunidade
**Para** ter outro caminho de acesso além do e-mail

## **Contexto**
Hoje o mapa não permite que a pessoa que se inscreveu em uma oportunidade tenha acesso aos documentos de certificação gerados pela oportunidade. Sendo assim, ela fica limitada a resgatar um certificado/declaração via

[2022-01-14 11:03] #605 closed, assigned to FernandaNascimento26

[2022-01-14 11:03] #530 closed, assigned to pedrovitor074

[2022-01-14 11:04] #604 closed, assigned to Junior-Shyko, FernandaNascimento26, matheuscpl, thaistoscano

[2022-01-14 12:33] RaniGub commented on #626
Protótipo validado.

[2022-01-14 13:18] RaniGub commented on #629
Atualização: Vamos dividir a experiência por issues, cada uma terá seu fluxo com telas. Vamos começar editando o escopo dessa para atender a demanda específica solicitada.

[2022-01-14 13:42] MayaraMonte commented on #625
Isseu contemplada na 601.
https://app.zenhub.com/workspaces/mapa-da-sade---dev-60f894f541f910001066bfd9/issues/escoladesaudepublica/mapadasaude/601

[2022-01-14 13:42] #625 closed, assigned to nobody

[2022-01-14 14:05] fernandafnascmnt commented on #601
**Teste com mensagem padrão que já vem na criação da Oportunidade:**
![Captura de tela de 2022-01-14 10-59-32.png](https://images.zenhubusercontent.com/6107f7497cd3e401e98eca0e/c6072d0c-3537-484e-9781-8701fa320161)

![Captura de tela de 2022-01-14 10-55-44.png](https://images.zenhubusercontent.com/6107f7497cd3e401e98eca0e/3a153312-17af-43fd-935d-6a2f887e2a10)

**Teste com texto personalizado**
![C

[2022-01-14 14:06] fernandafnascmnt commented on #601
**Teste com o campo de texto de mensagem vazio**

![Captura de tela de 2022-01-14 10-14-22.png](https://images.zenhubusercontent.com/6107f7497cd3e401e98eca0e/aa0c8fe3-3c69-4018-a9d9-7ea37d3e656e)

[2022-01-14 14:38] RaniGub opened #633 "Atualizar tela Minhas inscrições - aba Enviadas - para edição"
## **Objetivo**

**Como** pessoa usuária
**Quero** acessar o botão editar a partir da tela Minhas inscrições
**Para** possibilitar acesso a edição pela tela principal

## **Contexto**
Com a implementação da edição de inscrição por meio da tarefa #629, algumas experiência foram desencadeadas em outras telas. Dessa forma, é necessário que as telas que fazem parte da experiência sejam atualizadas.

#

[2022-01-15 02:39] #555 closed, assigned to pedrovitor074, thaistoscano

[2022-01-15 02:39] #601 closed, assigned to pedrovitor074, thaistoscano

[2022-01-15 02:39] #610 closed, assigned to FernandaNascimento26

[2022-01-17 12:50] RaniGub commented on #629
Protótipo validado.

[2022-01-17 14:21] thaistoscano commented on #629
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/629?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-17 14:26] thaistoscano commented on #629
Add pontuação 40, pois os devs não conseguem votar mais que 21.

[2022-01-17 14:29] thaistoscano commented on #623
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/623?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-17 14:35] thaistoscano commented on #621
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/621?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-17 14:37] RaniGub commented on #631
Figma adicionado.

[2022-01-17 14:39] thaistoscano commented on #626
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/626?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-17 14:49] thaistoscano commented on #620
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/620?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-17 14:50] thaistoscano commented on #620
Ficou definido que contemplará somente o que está na issue. Visto que trazer a versão que está na produção para a homologação demandaria bem mais que uma issue.

[2022-01-17 14:55] thaistoscano commented on #631
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/631?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-17 17:57] RaniGub commented on #630
Escopo revisado, protótipo adicionado.

[2022-01-17 18:00] RaniGub commented on #608
@thaistoscano por gentileza, refinar com a @MayaraMonte assim que possível.

[2022-01-17 18:05] RaniGub commented on #596
@MayaraMonte buscar pareamento com a @FernandaNascimento26

[2022-01-17 18:36] RaniGub opened #634 "Rever apresentação de elementos em Minhas inscrições"
## **Objetivo**

**Como** pessoa usuária
**Quero** ter uma melhor experiência na visualização das informações em minha inscrições
**Para** conseguir visualizar as informações de maneira mais clara

## **Contexto**

Após modificações sugeridas na tarefa #629 com a possibilidade de edição de inscrições, é importante dispor dos mesmos elementos, mesmos comportamentos de condicionais e mesma identidad

[2022-01-17 18:42] MayaraMonte opened #635 "Melhorar experiência da página 'agenda'"
## **Objetivo**

**Como** persona
**Quero** ter acesso a agenda da oportunidade de maneira rápida
**Para** conseguir visualizar de maneira rápida os prazos estipulados para a oportunidade

## **Contexto**

- Dentro da oportunidade existe uma aba para 'agenda' o que não fica claro é se o conteúdo que deveria aparecer ali se trata da agenda com os prazos da oportunidade ou alguma outra coisa, isso a

[2022-01-17 18:43] MayaraMonte commented on #635
![image](https://user-images.githubusercontent.com/67759144/149823154-ef386cb2-a670-40fa-9c8f-1eb65bfc2e69.png)

[2022-01-17 18:49] MayaraMonte opened #636 "Analisar a necessidade do botão 'baixar planilha' na agenda da oportunidade"
## **Objetivo**

**Como** gestor
**Quero** entender qual a funcionalidade do botão 'baixar planilha'
**Para** me certificar de que ele está funcionando corretamente

## **Contexto**

- Na agenda da oportunidade existe um botão chamado 'baixar planilha', quando clicamos no botão ele baixa uma planilha em branco.

## **Escopo**

- [ ] Analisar funcionalidade do botão

## **Fora de Escopo**

-

## **

[2022-01-17 18:58] MayaraMonte commented on #636
![image](https://user-images.githubusercontent.com/67759144/149824555-9420b9d6-828d-41f3-a96a-16d997eebf9c.png)

[2022-01-17 18:59] MayaraMonte commented on #636
![image](https://user-images.githubusercontent.com/67759144/149824627-d0e3a958-9426-471a-b82a-1e5f5cc56b76.png)

[2022-01-17 19:24] RaniGub commented on #634
Protótipo adicionado.

[2022-01-18 01:30] RaniGub commented on #429
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/mapadasaude/429?planning-poker) with ZenHub @pauloamoreira @MayaraMonte

[2022-01-18 01:31] RaniGub commented on #454
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/mapadasaude/454?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-18 01:56] RaniGub commented on #429
Análise UX: sem necessidade de protótipo.

[2022-01-18 11:11] fernandafnascmnt commented on #626
Observação: Em todos os locais os quais o campo de gênero for adicionado, deve haver esta explicação. Uma oportunidade pode ou não conter este campo, já que ele é personalizável.

[2022-01-18 14:10] RaniGub commented on #608
@pauloamoreira  retirei a estimativa, vamos aguardar seu pareamento com a Thaís. Amanhã podemos fazer um mini-poker só dessa atividade e dar uma estimativa mais precisa.

[2022-01-18 14:55] RaniGub commented on #608
@MayaraMonte antes de você refinar essa tarefa com a @thaistoscano, deixe o Uirá conversar com ela ok?

[2022-01-18 14:55] RaniGub commented on #608
@uira

[2022-01-18 14:58] RaniGub commented on #596
@MayaraMonte antes de fazer o pareamento com a @FernandaNascimento26, o @uira fará um pareamento com a @thaistoscano sobre essa tarefa.

[2022-01-18 16:25] Junior-Shyko commented on #629
Eu tive que diminuir o tamanho do numero da inscrição por conta do layout mobile.![Captura de tela de 2022-01-18 13-24-54.png](https://images.zenhubusercontent.com/61092b9464d7502ba0e520b9/c4b20b0d-f6e9-4ff9-9a31-bd122cd9be68)

[2022-01-19 12:59] pauloamoreira commented on #608
.em 19/01/2022 foi realizado refinamento com @thaistoscano e implementados aperfeiçoamentos no contexto da tarefa.

[2022-01-19 13:16] RaniGub commented on #608
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/mapadasaude/608?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-20 17:14] RaniGub commented on #629
@Junior-Shyko me deparei com uma tarefa que fez eu retornar e revisar um ponto nessa. Vi que foi utilizado no protótipo um layout antigo que não possibilitava a adição do botão editar inscrições devido ao espaço.

Atualizei o protótipo com uma tela do ambiente de produção que possibilita a exibição do botão. Deixei um marcador vermelho para você visualizar a adição no fluxo e tela.
![Captura de Te

[2022-01-20 17:15] RaniGub commented on #629
Ah, estão atualizadas no protótipo. Se precisar de algo me chame.

[2022-01-21 12:48] RaniGub commented on #635
Rever o escopo de Agenda.

[2022-01-21 13:19] pedrovitor074 commented on #631
@RaniGub Conversando com os meninos na daily hoje, vimos que já seria interessante atualizar os ícones que estão repetidos ( Oportunidades, Inscrições e Recursos ), pode disponibilizar esses ícones?

[2022-01-21 13:53] RaniGub commented on #619
Protótipo pronto.

[2022-01-21 13:56] RaniGub commented on #631
@pedrovitor074 pode parear comigo?

[2022-01-21 16:45] RaniGub commented on #631
Sair:
https://fontawesome.com/v4.7/icon/sign-out

Minhas inscrições:
https://fontawesome.com/v4.7/icon/pencil-square-o

Meus recursos:
https://fontawesome.com/v4.7/icon/exchange

Minhas oportunidades:
https://fontawesome.com/v4.7/icon/sticky-note-o

Obs.: Nas opções não encontrei algo que representasse legal os Meus Recursos. Vamos colocar o sugerido dando a ideia de que alguém interpôs algo e agu

[2022-01-21 17:00] RaniGub commented on #622
@MayaraMonte fiz um teste de inscrição e achei adequado a indicação do campo obrigatório. No entanto um aviso com as indicações das pendência deve ser de fato revisto.

Indicação de campo atual:
![Captura de Tela 2022-01-21 às 13.58.21.png](https://images.zenhubusercontent.com/6100319d73e73a075fefd717/0e603441-e862-4ac1-8aae-eb00529573f6)

Pop-up atual:
![Captura de Tela 2022-01-21 às 14.00.07.p

[2022-01-21 17:12] RaniGub commented on #622
Protótipo adicionado.

[2022-01-21 17:20] RaniGub commented on #608
A tarefa teve que passar por um refinamento, deverá entrar para a Sprint de 24/Jan

[2022-01-21 17:26] RaniGub commented on #454
A tarefa precisou passar por um refinamento e será atendida na Sprint de 24/jan

[2022-01-21 17:31] RaniGub commented on #454
Ficamos com uma dúvida se toda oportunidade deve ficar vinculada a um Projeto para que ela apareça na lista de Projetos (menu de 'Inscrições'). Hoje existem alguns caminhos que é possível criar a oportunidade sem que tenha vínculo com um projeto, mas não aparecem na referida lista. Aguardo retorno do @uira para saber da Regra de Negócio.

[2022-01-21 18:07] Junior-Shyko commented on #629
![Captura de tela de 2022-01-21 15-04-30.png](https://images.zenhubusercontent.com/61092b9464d7502ba0e520b9/035aaf56-406d-48a6-8240-b06ab77c25b1)

[2022-01-21 18:08] Junior-Shyko commented on #629
![Captura de tela de 2022-01-21 15-04-47.png](https://images.zenhubusercontent.com/61092b9464d7502ba0e520b9/cfd3b8c9-f72f-4a07-9ab5-a04e83ed412c)

[2022-01-22 17:53] RaniGub commented on #633
Protótipo disponibilizado.

[2022-01-24 12:14] thaistoscano commented on #614
@RaniGub Esse atividade ficou sem o figma, mas foi realizada com base nele. Você pode localizar e inserir aqui?

[2022-01-24 12:15] RaniGub commented on #614
Bom dia Thaís, por gentileza, fale com o @pauloamoreira

[2022-01-24 14:02] Junior-Shyko commented on #629
@RaniGub essa mensagem aparece após da o click em Finalizar Inscrição, mas como agora vai ter a opção de editar os dados, então esse aviso precisa de um Update.

![Captura de tela de 2022-01-24 11-01-20.png](https://images.zenhubusercontent.com/61092b9464d7502ba0e520b9/192eecbe-4663-44c0-8ead-2d6fc2df670c)

[2022-01-24 19:03] pauloamoreira commented on #454
.em pareamento com @Junior-Shyko, em 24/01/2022, fui informado que a versão 5.2 do Mapa da Saúde - que ficará ativa essa semana - irá trazer alterações no fluxo de criação de Oportunidades. portanto, irei aguardar para conhecer esse novo fluxo e, caso seja necessário, propor aperfeiçoamentos.

[2022-01-24 19:14] pauloamoreira commented on #629
@Junior-Shyko há um novo layout disponível para esse pop up neste board: https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/Principal?node-id=2378%3A3185

[2022-01-24 19:17] pauloamoreira commented on #629
![final_inscrição](https://user-images.githubusercontent.com/79201419/150849206-2b4f7da8-c70d-4fe8-8be9-d0851e409de0.jpg)

[2022-01-24 20:13] pauloamoreira commented on #614
.board da tarefa criado: https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/Principal?node-id=2380%3A3200

[2022-01-25 12:40] Junior-Shyko opened #639 "Refatoração do Sass"
## **Objetivo**

**Como** desenvolvedor do mapa da saúde
**Quero** fazer a refatoração do sass
**Para** visualizar o layout do mapa da saude conforme está nos designer

## **Contexto**

- Na atividade de publicar uma nova versão, foi percebido que ao copilar o .sass o layout do site fica uma parte desconfigurado. Não precisa ter a refatoração de código do .sass para gerar um .css aperfeiçoado.

##

[2022-01-25 14:05] Junior-Shyko opened #640 "Disponibilizar a nova versão do Mapa da Saúde para teste"
## **Objetivo**

**Como** desenvolvedor e administrador da plataforma
**Quero** realizar todos os testes
**Para** ter a certeza que a nova versão vai funcionar normalmente.

## **Contexto**

- Ao fazer a migração da versão antiga (5.0) para nova versão do mapas culturais, se precisa realizar os testes com as instalações de todos os plugins, temas e qualquer funcionalidade que exista hoje dentro de

[2022-01-25 16:37] Junior-Shyko commented on #640
### Bugs Encontrado

- Uploads das oportunidades, não estão sendo realizados por que da uma mensagem de erro: **Categoria é obrigatório** (_Tem categorias_)

- Não está incluindo ADMINISTRADORES a oportunidade (_Debugando: Error to create agent relation_)

- Em oportunidade na aba de Configuração do Suporte não está adicionando agente

[2022-01-25 16:46] Junior-Shyko commented on #640
Teste do plugin SEALCERTIFIED realizado e sem erros!!!

[2022-01-27 12:38] thaistoscano commented on #620
Atividade executada somente em homologação. Em produção já consta a versão mais atualizada.

[2022-01-27 12:38] #620 closed, assigned to pedrovitor074

[2022-01-27 20:38] Junior-Shyko commented on #629
Tarefa necessita da criação de um plugin e já inciado no link a baixo.
https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao

[2022-01-28 12:22] RaniGub commented on #454
Aguardando posição da @thaistoscano para entendermos se continuamos mapeando o fluxo na versão atual da homologação ou se aguardamos a versão 5.2.44 estar disponível. No momento temos acesso a versão em ambiente não-oficial, mas não sabemos se algo irá mudar após implementação.

[2022-01-28 13:26] RaniGub commented on #614
Análise de UX:
- Foi modificada a visualização do botão 'Imprimir em PDF' no Comprovante de Inscrição;
- A pessoa terá acesso à impressão do Comprovante quando clicar em 'Ver comprovante' na tela de Informações de Oportunidade.
- Figma atualizado.

[2022-01-28 13:43] RaniGub commented on #629
@Junior-Shyko ainda é possível atualizar a mensagem do pop-up? Conversando com o Paulo chegamos a esse consenso.
![Captura de Tela 2022-01-28 às 10 42 07](https://user-images.githubusercontent.com/79097920/151557025-274f3671-271e-40d2-be32-3695c97d34ba.png)

[2022-01-28 13:46] #640 closed, assigned to Junior-Shyko, pedrovitor074

[2022-01-28 14:09] RaniGub commented on #454
Em conversa com a @thaistoscano foi sugerido que a nova versão entre na homologação para que o fluxo seja concluído.

[2022-01-28 14:13] RaniGub commented on #608
Em conversa com a @thaistoscano, foi informado que o Gtcesp e a Ascom sugeriram algumas modificações no modelo dos relatórios. Aguardamos novas instruções.

[2022-01-28 14:40] Junior-Shyko commented on #629
Iniciado no plugin a criação do botão de editar a inscrição pelo candidato.
Commit: https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao/commit/abcb1932e63983c2bcc91c694ec2330f17ef3862

[2022-01-28 19:55] #631 closed, assigned to pedrovitor074, RaniGub

[2022-01-28 19:55] #623 closed, assigned to pedrovitor074, MayaraMonte

[2022-01-28 19:55] #626 closed, assigned to FernandaNascimento26, MayaraMonte

[2022-01-31 11:55] #607 closed, assigned to FernandaNascimento26, thaistoscano

[2022-01-31 11:55] #532 closed, assigned to Junior-Shyko, pedrovitor074

[2022-01-31 11:56] #496 closed, assigned to vicmagpac, Junior-Shyko

[2022-01-31 12:05] #615 closed, assigned to vicmagpac

[2022-01-31 12:18] #614 closed, assigned to vicmagpac

[2022-01-31 12:25] thaistoscano commented on #619
@MayaraMonte Foi tirada aquela dúvida que conversarmos sobre esse botão roxo da primeira tela? Ele realmente ficará junto aos editais? Qual será a tela após ele?

[2022-01-31 12:43] thaistoscano opened #641 "Alterar e-mail de envio da confirmação de inscrição"
## **Objetivo**

**Como** administrador do mapa
**Quero** configurar e-mail não responda
**Para** não receber e-mails com assuntos que digam respeito a cada oportunidade

## **Contexto**
Atualmente os candidatos retornam ao e-mail do Mapa de confirmação de inscrição com dúvidas sobre os eventos, e a equipe do Mapa não possui as respostas. O usuário deve entrar em contato diretamente com os organiz

[2022-01-31 12:55] thaistoscano opened #642 "Aplicar selos via banco de dados para eventos específicos"
## **Objetivo**

**Como** administrador do Mapa da Saúde
**Quero** aplicar selos diretamente no banco
**Para** certificar oportunidades

## **Contexto**
Em virtude da necessidade de realizar certificações para as oficinas do CEVIG de forma rápida, deve-se aplicá-los por meio do banco. Evento: https://mapa.sus.ce.gov.br/projeto/18/
-

## **Critérios de Aceitação**

- [x] aplicar selos para cada uma

[2022-01-31 13:01] RaniGub commented on #608
@pauloamoreira parear com a Helen pra gente rodar o Poker depois.

[2022-01-31 13:31] RaniGub commented on #635
A aba "Agenda" é vinculada ao relacionamento que um Evento tem a um Projeto. Para que as informações da aba "Agenda" apareçam no Projeto em questão, é necessário que os eventos sejam cadastrados no Projeto. Atualmente a edição de Eventos no Mapa está desabilitada, então não é necessário que a aba "Agenda" seja apresentada para pessoa usuária.

Análise UX:
Ocultar aba "Agenda" das oportunidades.

[2022-01-31 13:34] RaniGub commented on #636
O botão deixará de ser acessado após a ocultação da aba "Agenda" da tarefa #635

[2022-01-31 13:51] thaistoscano commented on #642
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/642?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-31 13:58] thaistoscano commented on #641
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/641?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-31 14:04] thaistoscano commented on #608
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/608?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-31 14:08] thaistoscano commented on #608
em acordo ficou votado 40 pontos.

[2022-01-31 14:11] thaistoscano commented on #635
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Refinamento-610039a15670a0000e67211f/issues/EscolaDeSaudePublica/mapadasaude/635?planning-poker) with ZenHub @FernandaNascimento26 @Junior-Shyko @lucastandy @pedrovitor074 @victorMagalhaesPacheco

[2022-01-31 17:44] fernandafnascmnt commented on #635
@RaniGub @MayaraMonte - No texto da atividade, vocês cirtam o aparecimento da agenda em uma oportunidade... Porém o print é da página do **Projeto** 26... Só para confirmar, seria da página do projeto, que é a página que exibe a aba inscrições onde a mesma exibe todas as oportunidade abertas para aquele projeto?

[2022-01-31 17:47] fernandafnascmnt commented on #635
Outra dúvida: Haja visto o texto acima, escrito pelo @Rani, _"Atualmente a edição de Eventos no Mapa está desabilitada, então não é necessário que a aba "Agenda" seja apresentada para pessoa usuária."_... Retiro a aba agenda apenas no projeto ou nos demais locais (agente, espaço, por exemplo)?

[2022-01-31 18:04] RaniGub commented on #635
@FernandaNascimento26 acho que não é necessário que a aba "Agenda" apareça mais em nenhum lugar, por enquanto. Pelo que entendi do Uirá num papo em out/2021 na V1 da AI, ela só puxa informações de Eventos que estão inseridos em Projetos. Então é preciso que tenha um Agente responsável pelo cadastro do Evento que consequentemente precisaria acontecer em um Espaço. Então as entidades funcionariam so

[2022-01-31 18:06] RaniGub commented on #635
Info atualizada: Out/2021

[2022-01-31 18:22] pauloamoreira commented on #608
.em reunião de pareamento com @helenhilario, dia 31/01/2022, fui informado sobre as alterações na ordem das informações que foram indicadas pela Ascom e Gtcesp. fico no aguardo da planning do designlab para saber a prioridade da tarefa e se ela entra na sprint dessa semana.

[2022-01-31 19:31] RaniGub commented on #608
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/DesignLab-606d8c0a23f88d0010676dd5/issues/EscolaDeSaudePublica/mapadasaude/608?planning-poker) with ZenHub @MayaraMonte @pauloamoreira

[2022-01-31 19:51] Junior-Shyko commented on #629
Atualização:
https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao/commit/c8041ec5dbded59a3223d5d3e648b6e7fe728008

[2022-02-01 11:30] fernandafnascmnt commented on #641
@Clarisse1983 , Bom dia!
Poderia me dar um auxílio com o texto para esta atividade?

Creio que talvez seria válido adicionar uma mensagem ao template atual da mensagem de confirmação, informando que aquele email é automático.

[2022-02-01 11:56] RaniGub commented on #608
Atualização de expetativa DesignLab: 8 pontos

[2022-02-01 12:51] ClarisCaval commented on #641
Oi Nanda! Estou com uma dúvida: será um email geral para toda e qualquer situação automática?
Pq se puder ser específica para as questões desse edital, seria legal usar a oportunidade para reforçar qual o canal certo. Tipo assim: Este é um email automático, gentileza não responder. Para dúvidas sobre sua inscrição, entre em contato com edital26@esp.ce.gov.br.
Mas se for geral, para tudo, sugiro  "

[2022-02-01 13:04] RaniGub commented on #641
Acho a ideia da @Clarisse1983 bem pertinente. Cla a gente pode sugerir um modelo padrão e a informação mudar a cada edital. Não sei se é possível criar um campo no momento da criação da oportunidade para que a pessoa insira o e-mail de referência para dúvidas @FernandaNascimento26 ai o e-mail puxar esse campo.

[2022-02-01 13:06] thaistoscano commented on #641
@Clarisse1983 Será para todas as oportunidades, sejam da ESP ou externas, então não temos um e-mail "geral" para esse tipo de suporte (o dono na oportunidade que deve disponibilizar o contato). Eu pensei em algo do tipo... "Este é um email automático, gentileza não responder. Para dúvidas sobre sua inscrição verifique os contatos na oportunidade que está inscrito..."

[2022-02-01 13:26] ClarisCaval commented on #641
Tendi @thaistoscano. Quando falei em suporte, foi no sentido mais geral mesmo, porque imagino que as pessoas tenham pelo menos dois tipos de dúvidas que já podemos presumir: sobre a oportunidade e sobre a plataforma em si. Assim, seria legal fazer uma orientação básica. Tipo:
 "Este é um email automático, gentileza não responder. Para dúvidas sobre sua inscrição verifique os contatos na oportunida

[2022-02-01 16:47] RaniGub commented on #608
@helenhilario informou que a tarefa foi repriorizada pelo Uirá e saiu da sprint do desenvolvimento. Então iremos retirar também da sprint do DesignLab.

[2022-02-01 17:03] RaniGub commented on #619
Protótipo validado.

[2022-02-01 19:49] Junior-Shyko commented on #629
Revisto com o @pauloamoreira

- Remover bo botão EDITAR INSCRIÇÃO a classe registration-fieldset

- Ajustar layout para mobile em todas as versões

- Ajusta o layout do botão imprimir PDF para como está no [figma](https://www.figma.com/file/nd1WwdaSNtpOIu4bChpttX/Principal?node-id=2380%3A3200)

- Colocar editar ao lado do IMPRIMIR EM PDF no rodapé do comprovante de inscrição

[2022-02-02 13:19] Junior-Shyko opened #643 "Verificar o valor type em oportunidade"
Ao criar uma oportunidade o type não está sendo inserido o valor da id da taxonomia.

[2022-02-02 15:38] Junior-Shyko commented on #629
Atualização no plugin dessa atividade. [Link](https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao/commit/13306572034244140ecc38b070063e362ab78bcf)

[2022-02-03 11:52] thaistoscano commented on #641
mapa@sus.ce.gov.br

[2022-02-03 12:44] Junior-Shyko commented on #629
- Atualizado plugin de edição de inscrição nesse [commit](https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao/commit/27fecf1590627a18aa44017ecc0cbd589e6e89fc)
- Atualizado plugin PDFRepor nesse [commit](https://github.com/EscolaDeSaudePublica/plugin-PDFReport/commit/20c9c069df7874d71d044fdd8dd42b511edb384e)

[2022-02-03 13:34] #636 closed, assigned to nobody

[2022-02-03 13:45] RaniGub commented on #641
@thaistoscano e essa sugestão que dei? Seria possível pelo desenvolvimento @Junior-Shyko ?

[2022-02-03 14:00] Junior-Shyko commented on #642
Qual seria o selo especificamente? @helenhilario @luannaalves @thaistoscano

[2022-02-03 14:20] fernandafnascmnt commented on #621
Favor rever protótipo do Figma. @MayaraMonte @RaniGub

[2022-02-03 14:25] fernandafnascmnt commented on #621
Esta mensagem atual deverá ser reavaliada quando migrar para a nova versão porque na nova versão tem um timeout de  auto save e não mais salva no momento que o usuário sai do campo.

[2022-02-03 14:30] RaniGub commented on #621
Pareado com a @FernandaNascimento26

[2022-02-03 17:16] Junior-Shyko commented on #642
Em conversa com o @Wanderley97 , foi percebido que os selos estão sendo aplicados normalmente.
Não havendo necessidade de alterar nada no banco de dados.

[2022-02-03 17:58] #642 closed, assigned to Junior-Shyko, thaistoscano

[2022-02-03 19:13] pedrovitor074 commented on #641
Aguardando somente a liberação do e-mail por parte da infra.

[2022-02-03 19:36] Junior-Shyko commented on #622
![Captura de tela de 2022-02-03 16-31-04.png](https://images.zenhubusercontent.com/61092b9464d7502ba0e520b9/6f5303aa-364c-49f9-9750-383793379ca9)

Atualmente pelo form build da aplicação ter campos que são dinâmicos e não possui validação, um pop-up com indicação de formato incorreto ficaria inviável.
Como por exemplo na imagem eu coloquei um campo de texto simples com a indicação que é data, ness

[2022-02-03 21:13] RaniGub commented on #622
@pauloamoreira por gentileza, dê uma olhada com o Junim.

[2022-02-04 11:50] fernandafnascmnt commented on #622
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/622?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074

[2022-02-04 13:44] thaistoscano commented on #537
Será contemplada no redesign @uira ? Fechamos essa atividade?

[2022-02-04 13:45] thaistoscano commented on #546
Os indicadores estão ocultos no momento.

[2022-02-04 13:52] thaistoscano commented on #509
@RaniGub acredito que não é mais possível fazer essa alteração.

[2022-02-04 13:53] thaistoscano commented on #512
@RaniGub Para revisão

[2022-02-04 14:00] thaistoscano commented on #451
@luannaalves e @thaistoscano revisão

[2022-02-04 14:59] RaniGub commented on #509
Ok @thaistoscano. Achei a sugestão adequada. Vou considerar como concluída pra gente.

[2022-02-04 16:09] #509 closed, assigned to matheuscpl, thaistoscano

[2022-02-04 16:16] #451 closed, assigned to matheuscpl

[2022-02-04 16:28] luannaalves commented on #609
@RaniGub No protótipo desta atividade informa que após a aplicação do selo já será enviado o e-mail com certificado para o usuário. No entanto, não deveria o envio do certificado ocorrer somente após a publicação dos resultados?

[2022-02-04 16:29] luannaalves commented on #609
@RaniGub @thaistoscano E no caso, falta definir se será enviado o arquivo em pdf ou o link para baixar o arquivo, por e-mail?

[2022-02-04 16:41] RaniGub commented on #609
Eu concordo com você @luannaalves. Após a aplicação dos selos deveria haver um botão de enviar certificados, temos dois caminhos:
1- Analisar com o DEV se é possível condicional o Selo (envio dos certificados) para a ação de publicar os resultados. Sendo assim, ao publicar os resultados, os certificados são emitidos automaticamente para aquela oportunidade.
OU
2- Disponibilizar o botão para aplica

[2022-02-04 19:10] luannaalves commented on #634
Atividades já contempladas pela issue #633

[2022-02-04 19:26] #275 closed, assigned to uira, wforte88, rafaelmassuncao, luannaalves, glaucia-posso

[2022-02-04 19:27] #396 closed, assigned to nobody

[2022-02-04 19:27] #273 closed, assigned to nobody

[2022-02-04 19:27] #397 closed, assigned to nobody

[2022-02-04 19:27] #403 closed, assigned to helenhilario, rafaelmassuncao, gabrieladamarques, thaistoscano

[2022-02-04 19:27] #402 closed, assigned to nobody

[2022-02-04 19:28] #401 closed, assigned to nobody

[2022-02-04 19:28] #400 closed, assigned to nobody

[2022-02-04 19:28] #399 closed, assigned to nobody

[2022-02-04 19:28] #398 closed, assigned to nobody

[2022-02-04 19:29] #55 closed, assigned to uira, rafaelmassuncao, camilaccolares

[2022-02-04 19:29] #265 closed, assigned to nobody

[2022-02-04 19:29] #209 closed, assigned to nobody

[2022-02-04 19:30] #337 closed, assigned to rafaelmassuncao, luannaalves

[2022-02-04 19:30] #45 closed, assigned to nobody

[2022-02-04 19:30] #46 closed, assigned to nobody

[2022-02-04 19:30] #74 closed, assigned to rafaelmassuncao

[2022-02-04 19:30] #75 closed, assigned to nobody

[2022-02-04 19:31] #354 closed, assigned to nobody

[2022-02-04 19:31] #350 closed, assigned to rafaelmassuncao, luannaalves

[2022-02-04 19:31] #77 closed, assigned to rafaelmassuncao

[2022-02-04 19:32] #180 closed, assigned to nobody

[2022-02-04 19:32] #47 closed, assigned to nobody

[2022-02-04 19:32] #54 closed, assigned to nobody

[2022-02-04 19:36] #81 closed, assigned to nobody

[2022-02-04 19:37] #643 closed, assigned to nobody

[2022-02-07 17:37] #82 closed, assigned to nobody

[2022-02-07 17:37] #67 closed, assigned to nobody

[2022-02-08 10:47] luannaalves commented on #635
Validado na homologação.

[2022-02-08 10:47] luannaalves commented on #621
Validado na homologação.

[2022-02-08 10:47] luannaalves commented on #513
Validado na homologação.

[2022-02-08 11:45] fernandafnascmnt commented on #606
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/606?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074

[2022-02-08 13:23] luannaalves commented on #619
@RaniGub necessidade de adequação do protótipo.

[2022-02-08 14:03] luannaalves commented on #609
@RaniGub necessidade de adequação de protótipo.

[2022-02-08 14:11] luannaalves opened #646 "Resgate de certificação de uma oportunidade pelo agente"
## **Objetivo**
**Como** Agente (pessoa usuária)
**Quero** saber quais das Oportunidades nas quais me inscrevi estão disponibilizando o Certificado para mim.
**Para** fazer o download dos Certificados disponíveis.

## **Contexto**
O Agente (pessoa usuária) tem a necessidade de visualizar as Oportunidades nas quais fez inscrição, saber quais destas já estão disponibilizando seu Certificado e fazer

[2022-02-08 18:18] #634 closed, assigned to RaniGub

[2022-02-08 19:32] luannaalves opened #647 "Inserir Botão Editar Inscrição - Tela das Oportunidades do Projeto"
### Objetivo
**Como** pessoa usuária
**Quando** acessar a aba de Inscrições de um Projeto
**Quero** encontrar o botão de Editar Inscrição

### Contexto
Com a implementação da edição de inscrição por meio da tarefa https://github.com/EscolaDeSaudePublica/mapadasaude/issues/629, algumas experiência foram desencadeadas em outras telas. Dessa forma, é necessário que as telas que fazem parte da experiê

[2022-02-09 11:31] luannaalves opened #648 "Implementar modelo de certificado para treinamentos Elmo"
### Objetivo
Como gestor
Quero disponibilizar modelo de certificado no Mapa
Para os treinamentos do capacete Elmo

### Contexto
Foi solicitado para que seja implementado o modelo de certificado apresentado pela equipe Elmo dentro do Mapa da saúde, para que assim possa ser enviado o certificado através da plataforma para os participantes dos treinamento odo capacete Elmo.

### Escopo DEV
 - Impleme

[2022-02-09 16:58] luannaalves commented on #629
@uira sugerimos realizar validação institucional dessa atividade na homologação.

[2022-02-10 21:22] MayaraMonte opened #651 "Possibilitar que a usuária entre em contato para esclarecer dúvidas da oportunidade"
## **Objetivo**

**Como** gestor
**Quero** criar um ambiente de contato
**Para** que a usuária possa tirar dúvidas sobre a oportunidade

## **Contexto**
- Durante o teste a a usuária manifestou a possibilidade de enviar uma mensagem ao responsável pela Oportunidade, para esclarecer uma dúvida, mas não estava claro como poderia fazer isso.

## **Escopo UX**
- [x] Incluir aba de "Contato na oportuni

[2022-02-11 10:28] MayaraMonte opened #652 "Analisar a função da aba 'Documentos Necessários'"
## **Objetivo**

**Como** gestor
**Quero** melhorar as informações da aba ‘documentos necessários’, na página da Oportunidade
**Para** que sua função fique clara e não gere dúvidas a usuária.

## **Contexto**
- Na página da oportunidade, a aba Documentos Necessários apresenta uma lista de documentos sem link ou texto explicativo, gerando insegurança e confusão na pessoa usuária, que supõe que os c

[2022-02-11 10:43] MayaraMonte opened #653 "Solução de navegação nas páginas de uma oportunidade"
## **Objetivo**

**Como** designer
**Quero** melhorar a experiência de navegação entre as páginas de uma oportunidade
**Para** evitar que a pessoa usuária fique perdida ao tentar retornar ou avançar na navegação das  páginas de uma oportunidade.

## **Contexto**
- A pessoa usuária, ao acessar a página de uma oportunidade, clica no botão "Fazer Inscrição" e é levada para o formulário de inscrição d

[2022-02-11 10:56] MayaraMonte opened #654 "Melhorar a experiência de criação de nova senha."
## **Objetivo**

**Como** designer
**Quero** melhorar a experiência da pessoa usuária ao criar uma nova senha
**Para** evitar que a usuária se sinta perdida ao criar uma nova senha

## **Contexto**
A pessoa precisa compreender a jornada para alteração de senha no Id Saúde.

## **Escopo UX**
- [x] Pensar em uma solução que possibilite que a usuária consiga trocar a senha de forma segura e intuitiva

[2022-02-11 11:07] luannaalves commented on #512
validado na homologação.

[2022-02-11 11:08] luannaalves commented on #606
validado na homologação.

[2022-02-11 11:09] luannaalves commented on #629
@helenhilario gostaria de fazer essa validação na homologação?

[2022-02-11 11:33] MayaraMonte opened #655 "Melhorar a experiência no preenchimento do calendário"
## **Objetivo**

**Como** gestor
**Quero** disponibilizar a opção de edição manual no calendário
**Para** melhorar a experiência da usuária

## **Contexto**
- A pessoa usuária sentiu dificuldades de navegar nas datas do calendário, para inserir a data de nascimento, por não achar facilmente como editar o dia, o mês e o ano no calendário interativo.

Sugestão: Adicionar máscara de formato pode refo

[2022-02-11 11:38] vicmagpac commented on #641
Necessário ser adicionado a nova variável de ambiente no docker compose:  `- MAILER_STREAMOPTIONS_DISABLED_VERIFYPEER=true`

[2022-02-11 11:44] Junior-Shyko commented on #630
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/630?planning-poker) with ZenHub @pedrovitor074 @victorMagalhaesPacheco @FernandaNascimento26

[2022-02-11 12:15] luannaalves commented on #641
![image](https://user-images.githubusercontent.com/74267308/153589765-eeb30d83-76d0-44cd-ae67-a2abbfec65ae.png)
Validado na homologação. @victorMagalhaesPacheco necessidade apenas de corrigir a crase do a, na frase ...à disposição no e-mail.

[2022-02-11 12:25] luannaalves commented on #641
Este é um e-mail automático, gentileza não responder. Para dúvidas sobre sua inscrição verifique os contatos na oportunidade na qual se inscreveu. Para dúvidas sobre o uso da plataforma Mapa da Saúde, estamos à disposição no e-mail [mapa@sus.ce.gov.br.](mailto:mapa@sus.ce.gov.br.)

[2022-02-11 13:19] RaniGub commented on #651
Nota: Criar um campo na criação da oportunidade para vincular o e-mail, pensar numa experiência que permita o envio de e-mail na própria oportunidade.

[2022-02-11 13:27] vicmagpac commented on #641
@luannaalves atualização realizada com sucesso.

[2022-02-11 14:02] luannaalves opened #656 "Botão Acessar Inscrição"
### Objetivo
**Como** usuário não inscrito
**Quero** ao visualizar a lista de oportunidades
**Então** encontrar disponível o botão com nome mais informações

### Contexto
Atualmente o botão de nome Acessar inscrição está sendo apresentado ao usuário mesmo antes dele ter efetuado alguma inscrição, e a nomenclatura dá a entender que o usuário irá acessar uma inscrição. Portanto quando visualizar uma

[2022-02-11 15:14] Junior-Shyko commented on #622
[Commit](https://github.com/EscolaDeSaudePublica/Saude/commit/7b0526a71d780c5abfbd3a7358f8006c71097a41)

[2022-02-11 17:26] pauloamoreira commented on #619
board atualizado. tarefa do designlab finalizada.

[2022-02-11 18:29] luannaalves opened #658 "Implementar migração do CPF atributo do Username no ID Saúde"
## **Objetivo**

**Como** usuário do ID Saúde
**Quero** acessar o ID Saúde com autenticação realizada pelo CPF ou e-mail
**Para** acessar os recursos internos da minha conta no mapa da saúde

## **Contexto**

Atualmente o ID Saúde a forma de autenticação está sendo feita apenas pelo e-mail, não havendo campo para preenchimento do CPF. Este é inserido nos campos de atributos do usuário dentro do Ma

[2022-02-11 18:30] luannaalves opened #659 "Customizar tema Saúde username para CPF"
## **Objetivo**

**Como** usuário do ID Saúde
**Quero** acessar o ID Saúde depois da autenticação realizada pelo CPF ou EMAIL
**Para** acessar os recursos internos da minha conta no Mapa da Saúde

## **Contexto**

Atualmente o ID Saúde a forma de autenticação está sendo feita apenas pelo e-mail e internamente no tema as referências são usadas USERNAME. Necessário atualizar as referências em (cadas

[2022-02-11 18:54] #512 closed, assigned to FernandaNascimento26

[2022-02-11 18:55] #635 closed, assigned to FernandaNascimento26, RaniGub

[2022-02-11 18:56] luannaalves commented on #635
Validado na produção.

[2022-02-11 18:56] luannaalves commented on #512
Validado na produção.

[2022-02-11 18:57] luannaalves commented on #513
Validado na produção.

[2022-02-11 18:57] #513 closed, assigned to FernandaNascimento26, luannaalves

[2022-02-11 19:11] pauloamoreira commented on #619
tarefa reaberta a partir de orientações do @RaniGub .

[2022-02-14 12:25] #621 closed, assigned to pedrovitor074, FernandaNascimento26, MayaraMonte, lucastandy

[2022-02-14 12:25] luannaalves commented on #621
Validado na produção.

[2022-02-14 12:34] RaniGub opened #660 "<Verbo> ..."
## **Objetivo**

**Como** designer
**Quero** compreender a relação do botão "acessar inscrições" nos projetos e oportunidades
**Para** disponibilizar a melhor experiência para a pessoa usuária

## **Contexto**
O botão 'acessar inscrição' fica disponível no registro do projeto/oportunidade quando uma inscrição ainda não foi realizada pela pessoa usuária. A ideia é analisar essas variações de compor

[2022-02-14 12:53] luannaalves commented on #647
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/647?planning-poker) with ZenHub @Junior-Shyko @victorMagalhaesPacheco @pedrovitor074

[2022-02-14 12:55] luannaalves commented on #658
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/658?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074 @victorMagalhaesPacheco

[2022-02-14 12:59] luannaalves commented on #659
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/659?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074 @victorMagalhaesPacheco

[2022-02-14 19:51] luannaalves commented on #606
validado na produção.

[2022-02-14 19:51] #606 closed, assigned to pedrovitor074, matheuscpl, luannaalves, thaistoscano

[2022-02-15 03:59] Junior-Shyko commented on #622
Atualização no [commit](https://github.com/EscolaDeSaudePublica/plugin-EditarInscricao/commit/47f3657983ab5a21e68e3f17f7847d726cb449c2)

[2022-02-15 10:57] luannaalves commented on #641
validado na produção.

[2022-02-15 10:57] #641 closed, assigned to vicmagpac, pedrovitor074, thaistoscano

[2022-02-15 11:42] luannaalves opened #661 "Corrigir bug em Minhas inscrições com múltiplas inscrições repetidas - na produção"
### Objetivo
**Como** gestor do Mapa
**Quero** corrigir bug na área de múltiplas inscrições do usuário
**Para**  possibilitar correto acompanhamento.

### Contexto
Está ocorrendo um bug na produção, em que o usuário ao possuir mais de uma inscrição na mesma oportunidade, ao passar para outras fases, ao acessar o recurso, está retornando ao usuário para o mesmo formulário de inscrição, em inscriçõe

[2022-02-15 11:42] luannaalves commented on #661
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/661?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074 @victorMagalhaesPacheco

[2022-02-15 17:06] luannaalves opened #662 "Desabilitar acesso ao ID Saúde pelo Facebook - Produção"
## **Objetivo**

**Como** gestor do ID Saúde
**Quero** corrigir bug na produção
**Para** que os usuários possam acessar o ID Saúde por meio do Facebook

## **Contexto**
Atualmente está ocorrendo um bug na produção, onde o usuário não está conseguindo acessar o Id Saúde por meio do Facebook, o qual deverá ser corrigido.

## **Escopo**
- Corrigir bug na produção para acesso ao ID Saúde por meio do f

[2022-02-15 17:33] luannaalves opened #663 "Identificação de campos Agente responsável e Agente coletivo em outras fases"
## **Objetivo**

**Como** gestor do ID Saúde
**Como** administrador de uma oportunidade
**Quero** que os campos agente responsável e agente coletivo na criação de oportunidade

## **Contexto**
Atualmente quando o administrador de uma oportunidade, ao configurar os campos de agente responsável e agente coletivo na fase inicial de uma oportunidade, ao criar uma segunda fase em diante, as configuraçõ

[2022-02-15 18:09] vicmagpac commented on #658
Em alinhamento com o time de desenvolvimento @Junior-Shyko e @luannaalves verificou-se a necessidade de realizar a migração dos usuário que tem cadastro com CPF atributo. (iSUS)

[2022-02-16 11:38] #661 closed, assigned to pedrovitor074

[2022-02-16 11:44] luannaalves opened #664 "Emissão do relatório final da oportunidade - na produção"
## **Objetivo**

**Como** administrador de uma oportunidade
**Quero** poder gerar o relatório final após a publicação dos resultados

## **Contexto**
Atualmente a emissão do relatório final de uma oportunidade está apresentando um erro, impedindo a emissão, sendo necessário correção.

## **Escopo**
- Corrigir bug na produção para emissão de relatório final da oportunidade.

## **Critérios de Aceit

[2022-02-16 11:48] luannaalves commented on #662
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/662?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074 @victorMagalhaesPacheco

[2022-02-16 11:54] luannaalves commented on #663
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/663?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074 @victorMagalhaesPacheco

[2022-02-16 11:55] luannaalves commented on #664
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/664?planning-poker) with ZenHub @Junior-Shyko @pedrovitor074 @victorMagalhaesPacheco

[2022-02-16 14:24] matheuscpl opened #665 "Agendar Reunião com Secult"

[2022-02-16 16:20] luannaalves commented on #630
validado na homologação.

[2022-02-16 16:21] luannaalves commented on #630
@helenhilario atividade para validação institucional.

[2022-02-16 16:51] thaistoscano commented on #553
Em conversa com o @uira apesar de retirada a visualização do candidato é necessário que ele saiba quando ocorrer a publicação. Será necessário passar novamente pelo UX para nova proposta @luannaalves .

[2022-02-17 11:39] #664 closed, assigned to vicmagpac, Junior-Shyko, pedrovitor074

[2022-02-17 11:46] pedrovitor074 commented on #662
Após uma conversa com  o @victorMagalhaesPacheco , visto que não temos politica de privacidade, o facebook removeu o nosso aplicativo, e não temos maiis a opção de recorrer, então a solução por hora foi remover o login com facebook.
![image.png](https://images.zenhubusercontent.com/615edf64b26e72ab14315242/d5b1ec4a-aec2-422f-b403-6d2287cd7f9a)

![image.png](https://images.zenhubusercontent.com/615

[2022-02-17 12:00] RaniGub commented on #609
Protótipo disponibilizado.

[2022-02-17 12:55] luannaalves commented on #662
Validado na produção.

[2022-02-17 12:55] #662 closed, assigned to pedrovitor074, luannaalves

[2022-02-17 15:10] luannaalves opened #666 "Implementar loading no modal de confirmação de inscrição/edição"
## **Objetivo**
**Como** gestor do Mapa
**Quero** implementar loading nos modais de confirmação de inscrição/edição
**Para** evitar confusão ao candidato

## **Contexto**
Atualmente quando o usuário finaliza sua inscrição ou edição de inscrição no modal de confirmação, demora cerca de 15 a 20 segundos na mesma página sem aparecer informação de confirmação do envio, o que gera dúvidas ao usuário se

[2022-02-17 19:14] luannaalves commented on #622
Necessário validação com @RaniGub

[2022-02-17 19:23] luannaalves opened #667 "Remover disparos de e-mails para edições de inscrição"
## **Objetivo**
**Como** gestor do Mapa
**Quero**remover o disparo de e-mails
**Para** as edições de inscrição

## **Contexto**
Atualmente quando o usuário faz qualquer edição em uma inscrição de uma oportunidade, ele recebe um novo e-mail de confirmação de inscrição.

## **Escopo**
- Remover disparo de e-mails para as edições da inscrição. o Candidato deverá receber o e-mail da confirmação da pri

[2022-02-18 12:35] RaniGub commented on #609
@luannaalves revisado.

[2022-02-18 13:26] luannaalves commented on #667
Validado na homologação.

[2022-02-18 16:13] luannaalves opened #668 "Renomear nome "usuário para "Agente" em painel de controle->Apagar conta"
## **Objetivo**
**Como** gestor do Mapa
**Quero** atualizar o nome usuário para agente
**Para** que fique padronizado

## **Contexto**
No Painel de Controle, ao selecionar a opção apagar conta, aparece a opção [Selecione o Usuário](), este nome no entanto deverá ser alterado para: Selecione o Agente.

## **Escopo**
- Alterar nomenclatura para Selecione o Agente.

## **Critérios de Aceitação**
- [

[2022-02-18 16:15] luannaalves opened #669 "Opção de cadastrar espaço como rascunho"

[2022-02-18 16:16] luannaalves opened #670 "Corrigir nome Mapas da saúde em 'Sobre o Mapa da Saúde' e em 'Como usar'"
## **Objetivo**
**Como** gestor do Mapa
**Quero** corrigir o nome Mapas da saúde
**Para** Mapa da Saúde nos locais onde o nome ainda apareça no plural.

## **Contexto**
Atualmente em alguns locais ainda é apresentado o nome Mapas da Saúde, devendo ser no singular: **Mapa da Saúde.** Deverá ser feita essa correção.
Foi identificado em dois locais:
- No menu Como usar > Sobre o Mapa da Saúde
- Paine

[2022-02-18 16:19] luannaalves opened #671 "Omitir localização para o agente quando o mesmo definir como privada"
## **Objetivo**
**Como** gestor do Mapa
**Quero** que quando o agente escolha a opção privada para o endereço
**Então** a localização também seja omitida para o próprio agente

## **Contexto**
Atualmente quando o agente insere a opção da localização como privada, e ele busca no mapa ainda aparece a localização para o próprio agente, causando dúvidas se realmente foi omitida para os demais usuários

[2022-02-18 16:20] luannaalves opened #672 "Inserir informação ao usuário sobre como fazer um ajuste no georreferenciamento do mapa para melhorar precisão"
## **Objetivo**
**Como** usuário do Mapa
**Quero** encontrar a informação
**Para** ajustar a precisão da localização no mapa

## **Contexto**
Atualmente quando o usuário insere seu endereço e expõe a localização como pública, muitas vezes esta não aparece de forma precisa no mapa. Existe a possibilidade de refinar a precisão do mapa, mas o usuário não sabe como. Então é necessário por um informati

[2022-02-18 16:22] #118 closed, assigned to nobody

[2022-02-18 19:40] luannaalves commented on #663
Validado na homologação.

[2022-02-18 19:41] luannaalves commented on #663
@helenhilario atividade para validação institucional.

[2022-02-18 19:41] luannaalves commented on #667
Validado na produção.

[2022-02-18 19:41] #667 closed, assigned to pedrovitor074, luannaalves

[2022-02-21 14:38] luannaalves opened #673 "Alteração de status de candidatos no Edital 26 - Mapa - Produção"
### Objetivo
**Como** administrador da oportunidade Edital 26
**Quero** corrigir o status de alguns candidatos do certame

### Contexto
Na oportunidade Edital 26, correndo na produção, alguns candidatos ficaram com status de pendente após a publicação dos resultados, e deveriam ter ficado como não selecionados. Portanto, deverá ser feita essa correção junto ao banco de dados.

### Escopo DEV
- Alt

[2022-02-21 19:30] pauloamoreira opened #674 "Possibilitar que a usuária entre em contato, através da página da oportunidade, para esclarecer dúvidas com o gestor da oportunidade"
## **Objetivo**

**Como** gestor
**Quero** criar um ambiente de contato da oportunidade
**Para** que a usuária possa tirar dúvidas na página de informações da oportunidade

## **Contexto**
- Como complemento a tarefa #651 , é necessário tornar possível que a pessoa usuária possa enviar uma mensagem ao gestor da Oportunidade, através da página da oportunidade para esclarecer uma dúvida.

## **Escop

[2022-02-21 19:37] pauloamoreira commented on #651
.protótipo atualizado.

[2022-02-21 19:39] pauloamoreira commented on #674
.protótipo finalizado.

[2022-02-22 00:16] RaniGub commented on #674
Tarefa finalizada, qualquer dúvida falar comigo.

[2022-02-22 11:36] #673 closed, assigned to vicmagpac

[2022-02-22 12:22] luannaalves commented on #674
Será atendida pela issue #651

[2022-02-22 12:22] #674 closed, assigned to pauloamoreira

[2022-02-22 12:24] luannaalves opened #675 "Permitir verificar quais usuários solicitaram Atendimento Especial em uma oportunidade"
## **Objetivo**
**Como** administrador de uma oportunidade no Mapa
**Quero** poder quantificar e identificar os inscritos que solicitaram atendimento especial
**Para** facilitar o processo

## **Contexto**
Atualmente não é possível quantificar e identificar os candidatos de uma oportunidade que solicitaram atendimento especial, sendo necessário buscar manualmente, o que demanda tempo.

## **Escopo

[2022-02-22 12:24] luannaalves opened #676 "Não permitir criar oportunidades que não sejam por meio de um Projeto"
## **Objetivo**
**Como** usuário do mapa
**Quando** queira criar uma oportunidade
**Então** só devo encontrar a opção por meio de um projeto

## **Contexto**
Atualmente é possível criar uma oportunidade sem estar vinculada a um projeto, porém com a unificação das entidades, anteriormente Oportunidades e Projetos, para uma única entidade chamada de Inscrições, este menu não apresenta oportunidades

[2022-02-22 12:25] luannaalves opened #677 "Criar alerta de confirmação para o botão Publicar resultados"
## **Objetivo**

**Como** gestora de uma oportunidade
**Quero** confirmar que publiquei com sucesso o arquivo com o Resultado Final de uma oportunidade que criei
**Para** ter certeza de que as pessoas inscritas na oportunidade tenham acesso ao Resultado Final no período previsto.

## **Contexto**

- Ao enviar o arquivo do Resultado Final da oportunidade, o gestor, precisa visualizar um alerta conf

[2022-02-22 17:40] luannaalves opened #679 "Realizar integração entre dos dados migrados do CNES ao usuário tentar realizar o novo cadastro"
## **Objetivo**
**Como** gestor do Mapa
**Quando** um usuário que tenha seus dados sido migrados do CNES tente efetuar um novo cadastro no Mapa
**Então** que seja integrada as informações do cadastro já migrado para que não haja duplicação de cadastro.

## **Contexto**
Atualmente quando um usuário, que tenha seus dados já inseridos no Mapa por meio da integração com o CNES, tenta efetuar o novo ca

[2022-02-23 12:15] RaniGub commented on #656
Sugestão de experiência adicionado com fluxo de condição.

[2022-02-23 13:18] RaniGub commented on #653
@pauloamoreira @MayaraMonte quando algum de vocês pegar essa tarefa eu penso que a melhor opção para isso é um Breadcrumb acima do banner do Projeto/Oportunidade. Se encontrarem uma opção mais adequada a gente vai conversando.

[2022-02-23 13:27] RaniGub commented on #553
@luannaalves você poderia colocar o link do que seria a página de acompanhamento? Seria a Tela de Informações da Oportunidade? Coloquei um print pq podemos estar falando sobre a mesma coisa com nomes diferentes.
![Captura de Tela 2022-02-23 às 10 26 59](https://user-images.githubusercontent.com/79097920/155328455-85d27eb5-f787-4c79-a134-728f4149ab6a.png)

[2022-02-23 14:22] RaniGub commented on #655
@luannaalves Acredito que a experiência esteja mais relacionada na disponibilização ou não da descrição de preenchimento do campo. Esse problema foi observado uma única vez nos testes e acredito que tenha sido pontual. Além disso, caso a pessoa erre o preenchimento, a solução da tarefa #622 ajudar a minimizar a confusão para o usuário. De qualquer forma, foi sugerido um protótipo para o problema.

[2022-02-23 16:00] luannaalves commented on #666
Validado na homologação.

[2022-02-23 16:00] luannaalves commented on #622
Validado na homologação.

[2022-02-23 19:41] luannaalves commented on #629
Validado na produção.

[2022-02-23 19:41] #629 closed, assigned to Junior-Shyko, luannaalves, RaniGub, pauloamoreira, thaistoscano

[2022-02-23 19:59] luannaalves commented on #630
Validado na produção.

[2022-02-23 19:59] #630 closed, assigned to pedrovitor074, luannaalves, RaniGub, thaistoscano

[2022-02-23 19:59] luannaalves commented on #666
Validado na produção.

[2022-02-23 19:59] #666 closed, assigned to pedrovitor074, luannaalves

[2022-02-24 12:03] RaniGub commented on #619
@luannaalves Protótipo disponível.

[2022-02-24 12:23] luannaalves opened #680 "Redigir mensagem de confirmação: Você editará sua inscrição"
## **Objetivo**

**Como** gestor do mapa
**Quero** que fique claro para o usuário
**Que** ao clicar para editar uma inscrição enviada, ela passará a ser rascunho.

## **Contexto**
Deverá ser redigido o texto de alerta de edição de uma inscrição, para ficar claro ao usuário que ao clicar em editar a inscrição já enviada, ela voltará a ser uma inscrição em rascunho.

## **Escopo UX**
- [x] Protótipo

[2022-02-24 13:04] RaniGub commented on #680
@luannaalves Protótipo disponibilizado.

[2022-02-24 16:22] luannaalves commented on #663
Validado na produção.

[2022-02-24 16:22] #663 closed, assigned to pedrovitor074, luannaalves

[2022-02-24 16:59] pauloamoreira commented on #654
.protótipo da solução produzido. aguardando validação de @RaniGub.

[2022-02-24 17:43] luannaalves commented on #622
Validado na produção.

[2022-02-24 17:43] #622 closed, assigned to Junior-Shyko, pedrovitor074, MayaraMonte, luannaalves, thaistoscano

[2022-02-25 11:51] luannaalves commented on #656
Será atendido pela issue #647

[2022-02-25 11:56] luannaalves opened #681 "Migrar CPF do login ID Saúde para campo de cadastro do Agente"
## **Objetivo**
**Como** usuário do mapa
**Quando** insira meu cpf em novo cadastro de login do ID saúde
**Então** quero encontrar já migrado o cpf nos dados do meu agente.

## **Contexto**
Atualmente, quando um novo usuário cria o cadastro no login do ID saúde, o cpf inserido não está sendo migrado para o campo de cpf dos dados do agente. Portanto, deverá ser implementada essa migração.

## **Esc

[2022-02-25 11:57] luannaalves opened #682 "Bloquear edição de campo CPF uma vez cadastrado"
## **Objetivo**
**Como** usuário do mapa
**Quando** insira meu cpf ou seja migrado do cpf login
**Então** devo encontrar o campo bloqueado para edição.

## **Contexto**
Atualmente, é possível editar o campo de CPF, no entanto esta edição deverá ser bloqueada, uma vez que seja migrado o cpf do cadastro de login no ID Saúde ou uma vez que o usuário insira seu cpf em seus dados de agente.

## **Escop

[2022-02-25 11:57] luannaalves opened #683 "Inserir máscara para campo CPF e troná-lo campo obrigatório"
## **Objetivo**
**Como** usuário do mapa
**Quando** queira inserir meu cpf
**Então** devo encontrar o campo com máscara e obrigatório.

## **Contexto**
Atualmente, o campo de CPF não possui máscara o que permite o usuário inserir um número inválido, assim como não é obrigatório o que permite o usuário deixar a informação em branco.

## **Escopo**
- Inserir máscara para campo CPF nos dados do agent

[2022-02-25 11:58] luannaalves opened #684 "Validação de CPF na inscrição do candidato em uma oportunidade"
## **Objetivo**
**Como** gestor do mapa
**Quando** um usuário se inscrever em uma oportunidade
**Então** deverá ocorrer a validação do CPF para identificar se já está cadastrado.

## **Contexto**
Atualmente, não há validação de CPF na inscrição de candidatos, o que permite que o usuário crie um agente distinto com mesmo CPF e se inscreva na mesma oportunidade. Deverá haver validação de CPF na insc

[2022-02-25 18:41] pauloamoreira commented on #553
.protótipo atualizado. aguardando validação de @RaniGub.

[2022-02-28 13:23] luannaalves opened #685 "Atualização nova versão Mapa da saúde"
## **Objetivo**

**Como** desenvolvedor do mapa da saúde
**Quero** fazer a atualização da nova versão do Mapa da saúde
**Para** melhorar a experiência do usuário e da plataforma.

## **Contexto**
Será necessário realizar a atualização para nova versão do mapa na homologação e posteriormente realizar verificação da versão para identificar se houve perdas ou quebras de funcionalidades.

## **Escopo*

[2022-02-28 13:50] luannaalves commented on #683
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/683?planning-poker) with ZenHub @victorMagalhaesPacheco @pedrovitor074

[2022-02-28 13:51] luannaalves commented on #681
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/681?planning-poker) with ZenHub @pedrovitor074 @victorMagalhaesPacheco

[2022-02-28 13:52] luannaalves commented on #682
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/682?planning-poker) with ZenHub @pedrovitor074 @victorMagalhaesPacheco

[2022-02-28 13:53] luannaalves commented on #685
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mapa-da-Sade---Dev-60f894f541f910001066bfd9/issues/EscolaDeSaudePublica/mapadasaude/685?planning-poker) with ZenHub @pedrovitor074 @victorMagalhaesPacheco

[2022-02-28 19:14] pauloamoreira commented on #653
escopo e nome da tarefa atualizados a partir de refinamento com @luannaalves.

[2022-02-28 20:52] daianeabreu commented on #662
Olá! @victorMagalhaesPacheco  segue a versão anterior que temos do Termo de Uso do ID Saúde
https://docs.google.com/document/d/1ifYPIuUqROMQyMgwUEUaQHu-5-mgLUdEvYjg7Tg_GfM/edit#heading=h.xd1gqyruw92b

[2022-03-01 12:00] luannaalves commented on #647
Validado na homologação.

[2022-03-01 12:19] RaniGub commented on #654
Necessita refinamento com a @luannaalves

[2022-03-01 20:07] pauloamoreira commented on #654
nome da tarefa e escopo revisados a partir de refinamento realizado com @luannaalves em 01/03.

[2022-03-02 11:33] pauloamoreira commented on #652
.pareamento feito com a @luannaalves ontem, dia 02/03/2022.

[2022-03-02 11:59] luannaalves commented on #647
@helenhilario necessidade de validação.

[2022-03-02 12:22] RaniGub commented on #654
Protótipo validado.

P.S.:
@luannaalves @pauloamoreira o que você acha de criar uma tarefa para atender ao cenário da pessoa não saber o id (e-mail) e nem a senha? A solução seria permitir a inserção do CPF para que um cadastro duplicado não seja criado.

[2022-03-02 12:27] RaniGub commented on #654
@pauloamoreira modificar o escopo.

[2022-03-02 12:38] RaniGub commented on #553
Protótipo validado.

[2022-03-02 13:14] pauloamoreira commented on #553
Título e escopo atualizados a partir de pareamento com @luannaalves e @RaniGub.

[2022-03-02 13:17] pauloamoreira commented on #654
Escopo atualizado

[2022-03-02 18:04] luannaalves commented on #681
Validado na homologação.

[2022-03-02 18:52] RaniGub commented on #677
@pauloamoreira não lembro se você refinou o Escopo com a @luannaalves e falta só atualizar.

[2022-03-02 19:03] pauloamoreira commented on #677
@RaniGub fiz o refinamento com @luannaalves e irei atualizar o escopo da tarefa.

[2022-03-02 20:15] pauloamoreira commented on #677
@RaniGub escopo atualizado. aguardando validação da @luannaalves .

[2022-03-03 11:52] luannaalves commented on #677
@pauloamoreira em pareamento com a Hellen, ela sugeriu que além do alerta de confirmação para o botão, se não seria possível um melhor posicionamento para o botão, ao lado esquerdo quem sabe, pois está fazendo com que seja clicado sem querer, ele estando posicionado ao lado direito.

[2022-03-03 13:08] luannaalves commented on #656
Implementado por meio da issue #647.

[2022-03-03 13:09] #656 closed, assigned to pedrovitor074, MayaraMonte, luannaalves

[2022-03-03 14:56] pauloamoreira commented on #652
Protótipo criado. Aguardando validação de @RaniGub

[2022-03-03 16:50] luannaalves opened #687 "Corrigir bug botão Ir para meu recurso quando o recurso está desabilitado"
## **Objetivo**
**Como** administrador
**Quando** não habilite a opção de recurso em uma oportunidade
**Então** não deve aparecer o botão de acompanhamento de recurso para o candidato.

## **Contexto**
Está ocorrendo um bug na produção em que, mesmo não tendo sido habilitado recurso em uma oportunidade, está aparecendo o botão Ir para meu recurso, para o candidato. Este bug foi identificado na hom

[2022-03-03 17:20] luannaalves commented on #687
Validado na homologação.

[2022-03-03 17:25] luannaalves commented on #682
Validado na homologação.

[2022-03-04 11:38] luannaalves opened #688 "Inserir coluna Data da Inscrição na tabela de Inscritos de uma oportunidade"
## **Objetivo**
**Como** administrador de uma oportunidade
**Quando** visualize a tabela de Inscritos
**Então** quero encontrar uma coluna com a data de envio da inscrição ou início

## **Contexto**
Atualmente na tabela de Inscritos em uma oportunidade, não existe a informação da data de envio ou início das inscrições dos candidatos, e esta informação é muito importante para o administrador da opo

[2022-03-04 12:08] luannaalves opened #689 "Correção de bug avaliações não aparecem - Projeto Cuidar Melhor"
## **Objetivo**
**Como** administrador de uma oportunidade do mapa
**Quando** queira realizar as avaliações
**Então** deve ser apresentado as avaliações de todos os inscritos.

## **Contexto**
Ocorreu um bug na Produção, em que não foi apresentado todas as inscrições para serem avaliadas, devendo ser corrigido.

## **Escopo**
- Corrigir bug na Produção para que sejam apresentadas todos as inscriçõ

[2022-03-04 12:09] luannaalves opened #690 "Correção de bug paginação Infinity scroll das Avaliações"
## **Objetivo**
**Como** administrador de uma oportunidade do mapa
**Quando** queira realizar as avaliações
**Então** deve ser apresentado as avaliações de todos os inscritos.

## **Contexto**
Corrigir bug na paginação Infinity scroll das Avaliações, para que seja apresentada todas as inscrições na página de avaliações.

## **Escopo**
- Corrigir bug na paginação Infinity scroll das Avaliações

##

[2022-03-04 12:23] RaniGub commented on #652
Protótipo finalizado. @luannaalves é preciso parear com o @pauloamoreira para verificar a tarefa que será derivada dessa.

[2022-03-04 12:46] pauloamoreira commented on #614
@luannaalves atualizei o layout do botão "Imprimir", de modo a atender os padrões do Mapa.

[2022-03-04 14:16] luannaalves opened #691 "Análise da jornada de login por meio do gov.br"
## **Objetivo**
**Como** designer do Mapa
**Quero** analisar o fluxo de login para integração de acesso por meio do Gov.br
**Para** adequar visualmente as opções de acesso ao usuário.

## **Contexto**
Será realizada integração do ID Saúde com o Login Único do Gov.br, para que o usuário possa logar no Mapa da saúde, utilizando também o acesso por meio do Gov.br.

## **Escopo UX**
- [x] Apresentar s

[2022-03-04 17:02] #689 closed, assigned to vicmagpac

[2022-03-07 13:08] luannaalves opened #692 "Correção de bug na Produção emissão de relatório preliminar"
## **Objetivo**
**Como** administrador de uma oportunidade do mapa
**Quando** queira emitir relatórios de oportunidades
**Então** deve ser gerado normalmente.

## **Contexto**
Ocorreu um bug na Produção, em que não foi possível gerar o relatório do resultado preliminar em uma oportunidade do projeto Cuidar melhor.

## **Escopo**
- Corrigir bug na Produção para que seja possível gerar o relatório d

[2022-03-07 13:33] #692 closed, assigned to vicmagpac

[2022-03-10 18:50] luannaalves commented on #687
Validado na produção.

[2022-03-10 18:50] #687 closed, assigned to pedrovitor074, luannaalves

[2022-03-10 18:52] luannaalves commented on #682
Validado na produção.

[2022-03-10 18:52] #682 closed, assigned to pedrovitor074

[2022-03-10 18:52] luannaalves commented on #683
Validado na produção.

[2022-03-10 18:52] #683 closed, assigned to pedrovitor074, luannaalves

[2022-03-11 17:38] vicmagpac commented on #685
Realizamos a instalação da nova versão do mapas v5.1.26 no ambiente de teste https://mapadasaude51.dev.org.br

[2022-03-11 17:45] vicmagpac commented on #685
Arquitetura atual no ambiente novo de homologação:  ![Atual.png](https://images.zenhubusercontent.com/60a700715abeb69728eb42ba/d8992543-a078-4454-a497-64bf2286b26c)

[2022-03-11 17:48] luannaalves commented on #647
Validado na produção.

[2022-03-11 17:48] #647 closed, assigned to pedrovitor074, luannaalves

[2022-03-11 19:55] pauloamoreira commented on #677
Iniciamos, eu e Gabriela Calderón, o protótipo para essa tarefa. Mas precisaremos parear com @luannaalves para esclarecer algumas dúvidas.

[2022-03-11 19:58] pauloamoreira commented on #553
Iniciamos, eu e Gabriela Calderón, o protótipo para essa tarefa. Mas precisaremos parear com @luannaalves para esclarecer algumas dúvidas.

[2022-03-14 14:10] MayaraMonte opened #693 "Adicionar o botão "Meus selos" no menu lateral"
## **Objetivo**

**Como** gestor
**Quero** adicionar a opção de selos no menu lateral
**Para** que a pessoa usuária possa localizar a opção com facilidade

## **Contexto**
- Atualmente não existe uma opção de visualização da funcionalidade “selos” na barra lateral do menu principal, para acessar essa opção a pessoa usuária precisa ir a aba “inscrições”. Não fica claro como ela pode usar essa funci

[2022-03-14 14:21] caldy94 opened #694 "teste"
## **Objetivo**

**Como**designer
**Quero** fazer_algo
**Para** uma_finalidade

## **Contexto**

- Apenas teste

## **Escopo**

- [ ] escopo1

## **Fora de Escopo**

- fora_de_escopo

## **Critérios de Aceitação**

- [ ] titulo
**Dado que** algo
**Quando** faço
**então** resulta

# Observações

ex: Prototipo